<div class="container">
  <h3 class="title">Reportes</h3>
  <div class="cuadros-group">
    <div class="cuadros">
      <img src="" />
      <p class="menu-label">Reporte Diario</p><br />
      <a class="menu-button" routerLink="/menu/rep-cierre-diario">Entrar</a>
    </div>
    <div class="cuadros">
      <img src="" />
      <p class="menu-label">Capital Total</p><br />
      <a class="menu-button" routerLink="/menu/rep-capital">Entrar</a>
    </div>
    <div class="cuadros">
      <img src="" />
      <p class="menu-label">Reporte de Compras</p><br />
      <a class="menu-button" routerLink="/menu/rep-compras">Entrar</a>
    </div>
    <div class="cuadros">
      <img src="" />
      <p class="menu-label">Reporte de Ventas</p><br />
      <a class="menu-button" routerLink="/menu/rep-ventas">Entrar</a>
    </div>
    <div class="cuadros">
      <img src="" />
      <p class="menu-label">Reporte de Gastos</p><br />
      <a class="menu-button" routerLink="/menu/rep-gastos">Entrar</a>
    </div>
    <div class="cuadros">
      <img src="" />
      <p class="menu-label">Reporte de Ingresos</p><br />
      <a class="menu-button" routerLink="/menu/rep-ganancia">Entrar</a>
    </div>
  </div>
</div>



<!--HTML VERSION ANTERIOR. MANTENIDO EN CASO SEA NECESARIO
<div class="container">
  <div class="col-lg-12">
    <h3>Reportes</h3>
  </div>
    <div class="row">
      <div class="col-lg-1 ">

      </div>
      <div class="col-lg-5 ">
        <a routerLink="/menu/rep-capital" class="btn btn-primary btn-lg btn-block margin-button button-modif">
          <i class="fa fa-calendar fa-lg"></i><br />
          Capital Total Semanal
        </a>
      </div>
      <div class="col-lg-5 ">
        <a routerLink="/menu/rep-compras" class="btn btn-primary btn-lg btn-block margin-button button-modif">
          <i class="fa fa-chart-bar fa-lg"></i><br />
          Reporte de compras
        </a>
      </div>
      <div class="col-lg-1 ">

      </div>
      <div class="col-lg-1 ">

      </div>
      <div class="col-lg-5 ">
        <a routerLink="/menu/rep-ventas" class="btn btn-primary btn-lg btn-block margin-button button-modif">
          <i class="fa fa-chart-line fa-lg"></i><br />
          Reporte de ventas
        </a>
      </div>
      <div class="col-lg-5 ">
        <a routerLink="/menu/rep-gastos" class="btn btn-primary btn-lg btn-block margin-button button-modif">
          <i class="fa fa-chart-area fa-lg"></i><br />
          Reporte de Gastos Semanales
        </a>
      </div>
      <div class="col-lg-1 ">

      </div>
      <div class="col-lg-1 ">

      </div>
      <div class="col-lg-5 ">
        <a routerLink="/menu/rep-ganancia" class="btn btn-primary btn-lg btn-block margin-button button-modif">
          <i class="fa fa-chart-pie fa-lg"></i><br />
          Reporte de Ganancia por producto
        </a>
      </div>
      <div class="col-lg-1 ">

      </div>
    </div>
</div>-->
