<p-breadcrumb class="max-w-full" [model]="items">
    <ng-template pTemplate="item" let-item>
        <ng-container *ngIf="item.route; else elseBlock">
            <a [routerLink]="item.route" class="p-menuitem-link">
                <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
                <span class="text-primary font-semibold">{{ item.label }}</span>
            </a>
        </ng-container>
        <ng-template #elseBlock>
            <a [href]="item.url">
                <span class="text-color">{{ item.label }}</span>
            </a>
        </ng-template>
    </ng-template>
</p-breadcrumb>

<div style="padding-top: 5px;">
    <div class="card">
        <div class="container">
            <p-table [value]="HistorialGastos" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
                [rowsPerPageOptions]="[5, 10, 20]" styleClass="p-datatable-striped" class="p-datatable-sm">
                <ng-template pTemplate="caption">
                    <div class="text-center" style="color: white;">
                        Historial de gastos registrados
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Fecha Inicio</th>
                        <th class="text-center">Fecha Fin</th>
                        <th class="text-center">Monto</th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                    <tr>
                        <td class="text-center"
                            style="border-right: 1px solid #71c7c7;border-bottom: 1px solid #71c7c7;">
                            <b>{{rowIndex + 1}}</b>
                        </td>
                        <td class="text-center"
                            style="border-right: 1px solid #71c7c7;border-bottom: 1px solid #71c7c7;">
                            {{row.fechaInicio| date:'yyyy-MM-dd' }}</td>
                        <td class="text-center"
                            style="border-right: 1px solid #71c7c7;border-bottom: 1px solid #71c7c7;">
                            {{row.fechaFinal| date:'yyyy-MM-dd'}}</td>
                        <td class="text-center"
                            style="border-right: 1px solid #71c7c7;border-bottom: 1px solid #71c7c7;">
                            {{row.gastoTotal | number:'1.2-2'}}</td>

                        <td class="text-center" style="border-bottom: 1px solid #71c7c7;">
                            <button style="border-radius: 50%;background: blue; border: 1px solid blue;color:  white;"
                                (click)="OpenUpdateGastosModal(row)">
                                <li class="pi pi-pencil"></li>
                            </button>
                        </td>
                        <td class="text-center" style="border-bottom: 1px solid #71c7c7;">
                            <button style="border-radius: 50%;background: red; border: 1px solid red;color:  white;" (click)="DeleteConfirm($event,row)">
                                <li class="pi pi-trash"></li>
                            </button>
                        </td>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No hay datos.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>


<p-dialog [closable]="false" header="Editar gasto - Monto Total de Gasto: {{GastoTotal}}" [modal]="true"
    [(visible)]="UpdateGastoModal" [style]="{ width: '60rem' }">

    <div class="container">
        <div class="grid" [formGroup]="_FormGroup">


            <div class="col-12 lg:col-6 xl:col-6">
                <b>Desde:</b>
                <input type="date" class="form-control" [ngModel]="fInicioModal | date:'yyyy-MM-dd'"
                    formControlName="fInicioModal" [value]="fInicioModal | date:'yyyy-MM-dd'">
            </div>

            <div class="col-12 lg:col-6 xl:col-6">
                <b>Hasta:</b>
                <input type="date" class="form-control" [ngModel]="fFinModal | date:'yyyy-MM-dd'"
                    formControlName="fFinModal" [value]="fFinModal | date:'yyyy-MM-dd'">
            </div>

            <div class="col-12 lg:col-6 xl:col-12">
                <p-table [value]="gastoDetalleArray" [paginator]="true" [rows]="5" #dt1 [globalFilterFields]="['insumo','userId']"
                    [tableStyle]="{ 'min-width': '50rem' }" [rowsPerPageOptions]="[5, 10, 20]"
                    styleClass="p-datatable-gridlines" class="p-datatable-sm">
                    <ng-template pTemplate="caption">
                        <div class="flex">
                           <span style="color: white;">Lista de Gastos</span>
                            <span class="ml-auto">
                                <input class="form-control" type="text" [(ngModel)]="searchValue"
                                (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Buscar Gasto" />
                            </span>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr>
                            <th class="text-center" style="width: 3rem;">#</th>
                            <th class="text-center" style="width: 15rem;">Tipo Gasto</th>
                            <th class="text-center" style="width: 15rem;">Monto</th>
                            <th class="text-center" style="width: 15rem;">Personal</th>
                            <th class="text-center" style="width: 15rem;">Comentario</th>
                            <th class="text-center" style="width: 15rem;"></th>
                            <th class="text-center" style="width: 15rem;"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                        <tr>
                            <td class="text-center"
                                style="border-right: 1px solid #71c7c7;border-bottom: 1px solid #71c7c7;padding-top: 2px;padding-bottom: 2px;">
                                <b>{{rowIndex + 1}}</b>
                            </td>
                            <td class="text-center"
                                style="border-right: 1px solid #71c7c7;border-bottom: 1px solid #71c7c7;padding-top: 2px;padding-bottom: 2px;">
                                {{row.insumo }}</td>
                            <td class="text-center"
                                style="border-right: 1px solid #71c7c7;border-bottom: 1px solid #71c7c7;padding-top: 2px;padding-bottom: 2px;">
                                {{row.gasto| number:'1.2-2'}}</td>
                            <td class="text-center"
                                style="border-right: 1px solid #71c7c7;border-bottom: 1px solid #71c7c7;padding-top: 2px;padding-bottom: 2px;">
                                {{row.userId}}</td>
                            <td class="text-center"
                                style="border-right: 1px solid #71c7c7;border-bottom: 1px solid #71c7c7;padding-top: 2px;padding-bottom: 2px;">
                                {{row.comentario}}</td>
                            <td class="text-center" style="border-bottom: 1px solid #71c7c7;padding-top: 2px;padding-bottom: 2px;">
                                <button (click)="SelectionItemDetalle(row)"
                                    style="border-radius: 50%;background: blue; border: 1px solid bluered;color:  white;">
                                    <li class="pi pi-pencil"></li>
                                </button>
                            </td>
                            <td class="text-center" style="border-bottom: 1px solid #71c7c7;padding-top: 2px;padding-bottom: 2px;">
                                <button style="border-radius: 50%;background: red; border: 1px solid red;color:  white;"
                                    (click)="DeleteItem(row)">
                                    <li class="pi pi-trash"></li>
                                </button>
                            </td>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="7">No hay datos.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <div class="col-12 lg:col-6 xl:col-12" style="padding: 0px;">
                <p-divider align="center" type="dotted">
                    <b>Datos del gasto</b>
                </p-divider>
            </div>
            <div class="col-12 lg:col-6 xl:col-2" style="padding-top: 0px;padding-bottom: 0px;">
                <b>Tipo de Gasto :</b>
                <select class="form-control" [(ngModel)]="newInsumo" (change)="CheckPersonal()"
                    formControlName="newInsumo" aria-placeholder="Seleccione tipo de gasto">
                    <option value="Diesel">Diesel</option>
                    <option value="Personal">Personal</option>
                    <option value="Casa">Administrador</option>
                    <option value="Sunat">Sunat</option>
                    <option value="Otros">Otros</option>
                </select>
            </div>
            <div class="col-12 lg:col-6 xl:col-2" style="padding-top: 0px;padding-bottom: 0px;">
                <b>Monto :</b>
                <input type="number" class="form-control" [(ngModel)]="newMonto" placeholder="Ingrese Monto"
                    formControlName="newMonto">
            </div>

            <div class="col-12 lg:col-6 xl:col-3" [hidden]="E_Personal" style="padding-top: 0px;padding-bottom: 0px;">
                <b>Personal :</b>
                <select class="form-control" [(ngModel)]="tPersonal" formControlName="tPersonal">
                    <option *ngFor="let usu of tempusu" value="{{usu.userID}}">{{usu.userID}}</option>
                </select>
            </div>

            <div class="col-12 lg:col-6 xl:col-3" style="padding-top: 0px;padding-bottom: 0px;">
                <b>Comentario :</b>
                <input class="form-control" type="text" [(ngModel)]="newcomme" formControlName="newcomme">
            </div>

            <div class="col-12 lg:col-6 xl:col-1" style="padding-top: 20px;" >

                <button class="btn btn-primary" style="width: 100%;" [disabled]="!_FormGroup.valid"  [hidden]="B_Insert"
                    (click)="addDetalleToArrayTemp()"> <li class="pi pi-save"></li></button>
                    <button class="btn btn-primary" style="width: 100%;" [disabled]="!_FormGroup.valid"  [hidden]="B_Update"
                    (click)="UpdateGastosArray()"> <li class="pi pi-pencil"></li></button>

            </div>
            <div class="col-12 lg:col-6 xl:col-1" style="padding-top: 20px;"  >

                <button class="btn btn-danger" style="width: 100%;" (click)="clearFields()"> <li class="pi pi-times"></li></button>

            </div>
            <div class="col-12 lg:col-6 xl:col-12" style="padding: 0px;">
                <p-divider align="center" type="dotted">                 </p-divider>
            </div>
            <div class="col-12 lg:col-6 xl:col-6" style="padding-top: 35px;">
                <button class="btn btn-info" style="width: 100%;" (click)="updateData()">Guardar</button>
            </div>


            <div class="col-12 lg:col-6 xl:col-6" style="padding-top: 35px;">
                <button class="btn btn-danger" style="width: 100%;" (click)="clearFields();UpdateGastoModal=false">Cancelar</button>
            </div>
        </div>
    </div>
</p-dialog>

<p-toast position="bottom-center" key="Notificacion" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column align-items-start" style="flex: 1">
            <div class="flex align-items-center gap-2">
                <span class="font-bold text-900">
                    {{ message.summary }}
                </span>
            </div>
            <div class="font-medium text-lg my-3 text-900">
                {{ message.detail }}
            </div>
        </div>
    </ng-template>
</p-toast>
<p-confirmPopup #confirmPopupRef>
    <ng-template pTemplate="headless" let-message let-test>
        <div class="border-round p-3">
            <span>{{ message.message }}</span>
            <div class="flex align-items-center gap-2 mt-3">
                <button class="btn btn-primary" (click)="deleteGastoById()">Confirmar</button>
                <button class="btn btn-danger" (click)="NotConfirm()">Cancelar</button>
            </div>
        </div>
    </ng-template>
</p-confirmPopup>
