  <h3 class="title">Registro de Nueva Compra</h3>
  <div class="col-md-12 border">
  <h4 class="subtitle">Datos Generales</h4>
  <form [formGroup]="form" class="cuadros-group">
    <div class="input-group">
      <input class="active" style="padding: 2px;  " type="date" formControlName="fechaCompra" (change)="validarFecha()" [(ngModel)]="fCompra" name="fCompra">
      <label for="nombrePV" class="label-produc">
        Fecha de Compra
        <span *ngIf="fCompra == null" class="alert-validation">*</span>
      </label>
    </div>

    <div class="input-group">
      <input class="active" style="padding: 2px;" type="date" formControlName="fechaEntrega" (change)="validarFecha()" [(ngModel)]="fEntrega" name="fEntrega">
      <label for="nombrePV" class="label-produc">
        Fecha de Entrega
        <span *ngIf="fEntrega == null" class="alert-validation">*</span>
      </label>
    </div>

    <div class="input-group" style="margin:10px 0px">
      <select class="active" id="inputState" formControlName="origenCompra" [(ngModel)]="origenCompra" name="origenCompra">
        <option disabled selected value="0" style="display:none"></option>
        <option value="1">Trujillo</option>
        <option value="2">Talara</option>
        <option value="3">Piura</option>
        <option value="4">Chiclayo</option>
      </select>
      <label for="unidadMedida">
        Origen de la Compra
        <span *ngIf="origenCompra == null" class="alert-validation">*</span>
      </label>
    </div>
  </form>

  <button style="margin:0" class="btn btn-primary" (click)="nextComponent()" [disabled]="!form.valid">Siguiente ></button>

</div>
