<!-- <p-breadcrumb class="max-w-full" [model]="items" [home]="home" /> -->

<p-breadcrumb class="max-w-full" [model]="items">
    <ng-template pTemplate="item" let-item>
        <ng-container *ngIf="item.route; else elseBlock">
            <a [routerLink]="item.route" class="p-menuitem-link">
                <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
                <span class="text-primary font-semibold">{{ item.label }}</span>
            </a>
        </ng-container>
        <ng-template #elseBlock>
            <a [href]="item.url">
                <span class="text-color">{{ item.label }}</span>
            </a>
        </ng-template>
    </ng-template>
</p-breadcrumb>

<div style="padding-top: 5px;">
    <div class="card">

        <p-stepper orientation="vertical">
            <p-stepperPanel header="Datos Generales">
                <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                    <div class="flex flex-column">
                        <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                            <div class="row" style="padding: 10px;">
                                <div class="col">
                                    <label><b>Fecha de Compra :</b></label>
                                    <input type="date" class="form-control">
                                </div>
                                <div class="col">
                                    <label><b>Fecha de Entrega :</b></label>
                                    <input type="date" class="form-control">
                                </div>
                                <div class="col">
                                    <label><b>Cuidad de la compra :</b></label>
                                    <p-dropdown [options]="CiudadData" optionLabel="ciudadName" placeholder="Seleccione Cuidad" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex py-4">
                        <p-button label="Next" (onClick)="nextCallback.emit()" />
                    </div
                ></ng-template>
            </p-stepperPanel>
            <p-stepperPanel header="Detalle de la compra">
                <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                    <div class="flex flex-column">
                        <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium" style="width: 90%;">

                            <div class="row" style="padding: 10px;width: 100%;">
                                <div class="col-md-2">
                                    <label>Proveedor :</label>
                                    <p-dropdown [options]="ProveedorData" [filter]="true" filterBy="proveedorName" optionLabel="proveedorName" [showClear]="true"
                                        placeholder="Seleccione Porveedor" />
                                </div>
                                <div class="col-md-2">
                                    <label>Producto :</label>
                                    <p-dropdown [options]="ProductoData" [filter]="true" filterBy="productName" optionLabel="productName" [showClear]="true"
                                        placeholder="Seleccione Producto" (onChange)="obtenerEquivalencia()"/>
                                </div>
                                <div class="col-md-2">
                                    <label>Flete Unitario :</label>
                                    <input type="number" class="form-control" placeholder="0">
                                </div>
                                <div class="col-md-2">
                                    <label>Unidad Medida :</label>
                                    <p-dropdown [options]="UnidadMedidaData" [filter]="true" filterBy="unidadBase" optionLabel="unidadBase" [showClear]="true"
                                        placeholder="Selecione unidad Medida" />
                                </div>
                                <div class="col-md-2">
                                    <label>Cantidad :</label>
                                    <input type="number" class="form-control" placeholder="0">
                                </div>
                                <div class="col-md-2">
                                    <label>Precio Unitario :</label>
                                    <input type="number" class="form-control" placeholder="0">
                                </div>
                            </div>

                            <div class="row" style="padding: 10px;width: 100%;">
                                <div class="col-md-2">
                                    <label>Costo Total :</label>
                                    <input type="number" class="form-control" placeholder="0" disabled>
                                </div>
                                <div class="col-md-2">
                                    <label>Saldo Anterior :</label>
                                    <input type="number" class="form-control" placeholder="0" disabled>
                                </div>
                                <div class="col-md-2">
                                    <label>Amortizacion :</label>
                                    <input type="number" class="form-control" placeholder="0">
                                </div>
                                <div class="col-md-2">
                                    <label>Saldo :</label>
                                    <input type="number" class="form-control" placeholder="0" disabled>
                                </div>
                                <div class="col-md-2">
                                    <label>Documento Compra:</label>
                                    <p-dropdown [options]="DocumentoCompra" [filter]="true" filterBy="label" optionLabel="label" [showClear]="true"
                                        placeholder="Seleccione documento" />
                                </div>
                                <div class="col-md-2">
                                    <label>Numero Documento :</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row" style="padding: 10px;width: 100%;">
                                <div class="col-md-12">
                                    <label>Observacion :</label>
                                    <input type="text" class="form-control" autocomplete="off">
                                </div>
                            </div>

                            <div class="row" style="padding: 10px;width: 100%;">
                                <div class="col text-center">
                                    <span>Costo Total del Flete: S/ 0.00</span>
                                </div>
                                <div class="col text-center">
                                    <span>
                                        Monto Total de Compra: S/ 0.00</span>
                                </div>
                            </div>

                            <div class="row" style="padding: 10px;width: 100%;">
                                <p-table [value]="ComprasData" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
             [rowsPerPageOptions]="[5, 10, 20]" styleClass="p-datatable-striped"
            class="p-datatable-sm">
            <ng-template pTemplate="caption">
                <div class="text-center" style="color: white;">
                    Historial de ventas
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center">Proveedor</th>
                    <th class="text-center">Producto</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">U. M.</th>
                    <th class="text-center">Precio Uni</th>
                    <th class="text-center">Costo Total</th>
                    <th class="text-center">Amortizacion</th>
                    <th class="text-center">Saldo</th>
                    <th class="text-center">Flete Unitario</th>
                    <th class="text-center">Documento de Compra </th>
                    <th class="text-center">Numero de Documento</th>
                    <th class="text-center">Observacion</th>
                    <th></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td class="text-center">
                        <span *ngIf="row.productName != 'PAGOS'" Style="color: black;">{{row.fechaVenta | date: 'dd-MM-yyyy HH:mm:ss'}}</span>
                          <span *ngIf="row.productName == 'PAGOS'" Style="color: blue;">{{row.fechaVenta | date: 'dd-MM-yyyy HH:mm:ss'}}</span>
                    </td>

            </ng-template>
        </p-table>
                            </div>
                        </div>
                    </div>
                    <div class="flex py-4 gap-2">
                        <p-button label="Back" severity="secondary" (onClick)="prevCallback.emit()" />
                        <p-button label="Next" (onClick)="nextCallback.emit()" />
                    </div>
                </ng-template>
            </p-stepperPanel>
            <p-stepperPanel header="Resumen">
                <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
                    <div class="flex flex-column h-12rem">
                        <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                            Content III
                        </div>
                    </div>
                    <div class="flex py-4">
                        <p-button label="Back" (onClick)="prevCallback.emit()" />
                    </div>
                </ng-template>
            </p-stepperPanel>
        </p-stepper>
        <br>


        <span class="text-center"><b>Datos Generales</b></span>
        <div class="row">
            <div class="col">
                <label><b>Fecha de Compra :</b></label>
                <input type="date" class="form-control">
            </div>
            <div class="col">
                <label><b>Fecha de Entrega :</b></label>
                <input type="date" class="form-control">
            </div>
            <div class="col">
                <label><b>Cuidad de la compra :</b></label>
                <p-dropdown [options]="CiudadData" optionLabel="ciudadName" placeholder="Seleccione Cuidad" />
            </div>
        </div>
        <p-divider type="solid" />
        <span class="text-center"><b>Detalle de la compra</b></span>
        <form class="row g-3">
            <div class="col-md-2">
                <label>Proveedor :</label>
                <p-dropdown [options]="ProveedorData" [filter]="true" filterBy="proveedorName" optionLabel="proveedorName" [showClear]="true"
                    placeholder="Seleccione Porveedor" />
            </div>
            <div class="col-md-2">
                <label>Producto :</label>
                <p-dropdown [options]="ProductoData" [filter]="true" filterBy="productName" optionLabel="productName" [showClear]="true"
                    placeholder="Seleccione Producto" (onChange)="obtenerEquivalencia()"/>
            </div>
            <div class="col-md-2">
                <label>Flete Unitario :</label>
                <input type="number" class="form-control" placeholder="0">
            </div>
            <div class="col-md-2">
                <label>Unidad Medida :</label>
                <p-dropdown [options]="UnidadMedidaData" [filter]="true" filterBy="unidadBase" optionLabel="unidadBase" [showClear]="true"
                    placeholder="Selecione unidad Medida" />
            </div>
            <div class="col-md-2">
                <label>Cantidad :</label>
                <input type="number" class="form-control" placeholder="0">
            </div>
            <div class="col-md-2">
                <label>Precio Unitario :</label>
                <input type="number" class="form-control" placeholder="0">
            </div>
            <div class="col-md-2">
                <label>Costo Total :</label>
                <input type="number" class="form-control" placeholder="0" disabled>
            </div>
            <div class="col-md-2">
                <label>Saldo Anterior :</label>
                <input type="number" class="form-control" placeholder="0" disabled>
            </div>
            <div class="col-md-2">
                <label>Amortizacion :</label>
                <input type="number" class="form-control" placeholder="0">
            </div>
            <div class="col-md-2">
                <label>Saldo :</label>
                <input type="number" class="form-control" placeholder="0" disabled>
            </div>
            <div class="col-md-2">
                <label>Documento Compra:</label>
                <p-dropdown [options]="DocumentoCompra" [filter]="true" filterBy="label" optionLabel="label" [showClear]="true"
                    placeholder="Seleccione documento" />
            </div>
            <div class="col-md-2">
                <label>Numero Documento :</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-12">
                <label>Observacion :</label>
                <input type="text" class="form-control" autocomplete="off">
            </div>

            <div class="row text-center">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
                <div class="col">
                    <button type="submit" [disabled]="!update" class="btn btn-danger">Actualizacion</button>
                </div>
            </div>
        </form>



        <p-divider type="solid" />
        <div class="row">
            <div class="col text-center">
                <span>Costo Total del Flete: S/ 0.00</span>
            </div>
            <div class="col text-center">
                <span>
                    Monto Total de Compra: S/ 0.00</span>
            </div>
        </div>
        <p-divider type="solid" />


        <div class="row">
            <p-table [value]="ComprasData" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
             [rowsPerPageOptions]="[5, 10, 20]" styleClass="p-datatable-striped"
            class="p-datatable-sm">
            <ng-template pTemplate="caption">
                <div class="text-center" style="color: white;">
                    Historial de ventas
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center">Proveedor</th>
                    <th class="text-center">Producto</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">U. M.</th>
                    <th class="text-center">Precio Uni</th>
                    <th class="text-center">Costo Total</th>
                    <th class="text-center">Amortizacion</th>
                    <th class="text-center">Saldo</th>
                    <th class="text-center">Flete Unitario</th>
                    <th class="text-center">Documento de Compra </th>
                    <th class="text-center">Numero de Documento</th>
                    <th class="text-center">Observacion</th>
                    <th></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td class="text-center">
                        <span *ngIf="row.productName != 'PAGOS'" Style="color: black;">{{row.fechaVenta | date: 'dd-MM-yyyy HH:mm:ss'}}</span>
                          <span *ngIf="row.productName == 'PAGOS'" Style="color: blue;">{{row.fechaVenta | date: 'dd-MM-yyyy HH:mm:ss'}}</span>
                    </td>

            </ng-template>
        </p-table>
        </div>

    </div>
</div>

<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'"
    [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'" position="bottom-right"
    key="Notificacion" />
