<div class="modal" id="modal-productos">
  <div class="cd-popup-container">
    <input type="hidden" #IDU [(ngModel)]="usuario.userID" />
    <p>¿Desea eliminar este usuario?</p>
    <ul class="cd-buttons">
      <li><a (click)="eliminar(IDU.value);closeMod('modal-productos');">Si</a></li>
      <li><a (click)="closeMod('modal-productos');">No</a></li>
    </ul>
    <a (click)="closeMod('modal-productos')" class="cd-popup-close img-replace">Close</a>
  </div>
</div>

<div class="container">
  <h3 class="title">Usuarios</h3>
  <div class="flex">
    <div class="col-md-12 border">
      <form [formGroup]="frm">
        <div class="cuadros-group">

          <input type="hidden" [(ngModel)]="usuario.userID" [ngModelOptions]="{standalone: true}">
          <div class="input-group">
            <input id="name" [class]="txtClass" formControlName="name" #name required [(ngModel)]="usuario.fullName" onblur="checkInput(this)" type="text">
            <label>
              Nombre
            </label>
          </div>
          <div class="input-group" [hidden]="passwordElement">

            <input [class]="txtClass" formControlName="pass" [(ngModel)]="usuario.password" [pattern]="usuario.rpassword" onblur="checkInput(this)" type="password">
            <label>
              Password
              <small *ngIf="usuario.password!=usuario.rpassword" style="color:red; font-size:8px; vertical-align:top">*Password no coincide</small>
            </label>

          </div>
          <div class="input-group" [hidden]="passwordElement">

            <input [class]="txtClass" formControlName="rpass" [(ngModel)]="usuario.rpassword" [pattern]="usuario.password" onblur="checkInput(this)" type="password">
            <label>
              Repetir password
              <small *ngIf="usuario.password!=usuario.rpassword" style="color:red; font-size:8px; vertical-align:top">*Password no coincide</small>
            </label>

          </div>
          <div class="input-group">
            <input [class]="txtClass" onblur="checkInput(this)" #email type="email" [email]="true" formControlName="email" [(ngModel)]="usuario.email">
            <label>
              Email
            </label>
          </div>

          <div class="input-group">
            <input [class]="txtClass" formControlName="telefono" #telefono [(ngModel)]="usuario.phone" onblur="checkInput(this)" type="number">
            <label>
              Telefono
            </label>
          </div>

          <div class="input-group">
            <select [class]="txtClass" class="form-control col-12" formControlName="rol" #rol [(ngModel)]="usuario.roleDescription" onblur="checkInput(this)">
              <option value="">Selecciona un usuario</option>
              <option value="Usuario">Usuario</option>
              <option value="Administrador">Administrador</option>
            </select>
            <label>
              Rol
            </label>
          </div>
        </div>
        <div class="alert alert-{{level}} alert-dismissible fade show" *ngIf="visible" role="alert">
          {{content}}
          <button type="button" (click)="ocultarMensaje()" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <button [disabled]="!frm.valid" (click)="ingresarUsuario()" [hidden]="passwordElement">Registrar</button>
        <button [disabled]="!frm.valid" (click)="verificarduplicado(usuario.userID,name.value,email.value,telefono.value,rol.value)" [hidden]="btnEditar">Editar</button>
        <button type="submit" [disabled]="!frm.valid" (click)="cancelar(); checkInput(usuario.fullName); checkInput(usuario.password); checkInput(usuario.rpassword); checkInput(usuario.email); checkInput(usuario.phone); checkInput(usuario.roleDescription);">Cancelar</button>
      </form>
    </div>
  </div>

  <br />

  <div class="flex">
    <div class="search">
      <input class="input100" [(ngModel)]="searchString" name="searchString" placeholder="Buscar cliente" style="width:95%; padding: 10px" type="text" (keyup)="filter()" />
    </div>
  </div>

  <div class="col-md-12 border" style="padding:0px">

    <kendo-grid [data]="usuarioKendo"
                [pageSize]="pageSize"
                [skip]="skip"
                (pageChange)="pageChange($event)"
                [pageable]="true">
      <kendo-grid-column field="fullName" title="Nombre" width="150"></kendo-grid-column>
      <kendo-grid-column field="email" title="Email" width="150"></kendo-grid-column>
      <kendo-grid-column field="phone" title="Celular" width="150"></kendo-grid-column>
      <kendo-grid-column field="roleDescription" title="Rol" width="150"></kendo-grid-column>

      <kendo-grid-column title="" width="80">
        <ng-template kendoGridCellTemplate let-dataItem>
          <a tooltip title="Editar" class="btn btn-warning button-tree-view" (click)="editar(dataItem.userID,dataItem.fullName,dataItem.email,dataItem.phone,dataItem.roleDescription);
                    checkInput(dataItem.fullName); checkInput(dataItem.email); checkInput(dataItem.phone); checkInput(dataItem.roleDescription);"><img src="https://cdn4.iconfinder.com/data/icons/markerstyle_icons/PNG/16px/pencil.png"></a>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column title="" width="80">
        <ng-template kendoGridCellTemplate let-dataItem>
          <a tooltip title="Eliminar" name="elim" (click)="enviarID(dataItem.userID);openModal('modal-productos');" data-target="#EliminarUsuario">
            <i class="icon-delete"></i>
          </a>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
</div>

<div>
  <div class="sweet-overlay" tabindex="-1" style="opacity: 0; display: none;">
  </div>
  <div class="sweet-alert hideSweetAlert" tabindex="-1" data-has-cancel-button="false" data-allow-ouside-click="false" data-has-done-function="false" style="display: none; margin-top: -176px; opacity: -0.01;">
    <div class="icon error" style="display: block;">
      <span class="x-mark"><span class="line left"></span><span class="line right"></span></span>
    </div>
    <div class="icon warning" style="display: none;">
      <span class="body"></span> <span class="dot"></span>
    </div>
    <div class="icon info" style="display: none;">
    </div>
    <div class="icon success" style="display: none;">
      <span class="line tip"></span> <span class="line long"></span>
      <div class="placeholder">
      </div>
      <div class="fix"></div>
    </div>
    <div class="icon custom" style="display: none;"></div>
    <h2>Cancelled</h2>
    <p style="display: block;">Your imaginary file is safe :)</p>
    <button class="cancel" tabindex="-1" style="display: none; box-shadow: none;">Cancel</button>
    <button class="confirm" tabindex="-1" style="display: none; box-shadow: none;">OK</button>
    <button class="btn w-xs btn-info" tabindex="-1" style="display:none;  box-shadow: none;">Cerrar</button>
  </div>
</div>
