<p-breadcrumb class="max-w-full" [model]="items">
    <ng-template pTemplate="item" let-item>
        <ng-container *ngIf="item.route; else elseBlock">
            <a [routerLink]="item.route" class="p-menuitem-link">
                <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
                <span class="text-primary font-semibold">{{ item.label }}</span>
            </a>
        </ng-container>
        <ng-template #elseBlock>
            <a [href]="item.url">
                <span class="text-color">{{ item.label }}</span>
            </a>
        </ng-template>
    </ng-template>
</p-breadcrumb>

<div style="padding-top: 5px;">

    <div class="card" style="padding: 0px; ">

        <div class="card-body">
            <p-tabView>
                <p-tabPanel header="Lista Clientes">
                    <p-table #dt1 [value]="ClienteBySectorData" dataKey="id" styleClass="p-datatable-striped" [rows]="9"
                        [rowsPerPageOptions]="[8, 25, 50]" [loading]="loading" [paginator]="true"
                        [globalFilterFields]="['clienteName']">
                        <ng-template pTemplate="caption">

                            <div class="row">
                                <div class="col" style="padding: 5px 8px 2px 18px;">
                                    <input class="form-control" type="text" [(ngModel)]="searchValue"
                                        style=" padding: 5px;"
                                        (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                        placeholder="Buscar Cliente" />
                                </div>
                                <div class="col"></div>
                                <div class="col"></div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="min-width:25rem" class="text-center">Cliente</th>
                                <th style="min-width:15rem" class="text-center">Deuda Acumulada</th>
                                <th style="min-width:15rem" class="text-center">Pagar Deuda</th>
                                <th style="min-width:10rem" class="text-center">Registrar</th>
                                <th style="min-width:10rem" class="text-center">Hist. Ventas</th>
                                <th style="min-width:10rem" class="text-center">Hist. Reservas</th>
                                <th style="min-width:10rem" class="text-center">Anulaciones</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-row>
                            <tr>
                                <td>
                                    <b> {{ row.clienteName }}</b>
                                </td>
                                <td class="text-center">
                                    S/. {{ row.deudaActualizada | number: '1.2-2' }}
                                </td>
                                <td class="text-center">
                                    <button (click)="ModalAdelantoOpen(row)"
                                        style="border-radius: 50%;background: red; border: 1px solid red;color:  white;">
                                        <li class="pi pi-money-bill"></li>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button (click)="GoMantenimientoVentas(row)"
                                        style="border-radius: 50%;background: darkslateblue; border: 1px solid darkslateblue;color:  white;">
                                        <li class="pi pi-shopping-cart"></li>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button (click)="GoHistorialVentas(row)"
                                        style="border-radius: 50%;background: gray; border: 1px solid gray;color:  white;">
                                        <li class="pi pi-history"></li>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button (click)="GoHistorialReservas(row)"
                                        style="border-radius: 50%;background: gray; border: 1px solid gray;color:  white;">
                                        <li class="pi pi-history"></li>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button (click)="GoHistorialAnulaciones(row)"
                                        style="border-radius: 50%;background: gray; border: 1px solid gray;color:  white;">
                                        <li class="pi pi-history"></li>
                                    </button>
                                </td>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="7">No hay clientes en este sector.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>


                <p-tabPanel header="Reservas del dia">
                    <p-table #dt1 [value]="ReservasData" dataKey="id" styleClass="p-datatable-striped" [rows]="9"
                        [rowsPerPageOptions]="[8, 25, 50]" [loading]="loading" [paginator]="true"
                        [globalFilterFields]="['clienteName']">
                        <ng-template pTemplate="caption">
                            <div class="row">
                                <div class="col" style="padding: 5px 8px 2px 18px;">
                                    <input class="form-control" type="date" [(ngModel)]="Buscar"
                                        style="height: 90%; padding: 5px;" />
                                </div>
                                <div class="col" style="padding: 5px;">
                                    <button style="height: 90%; padding: 5px;" class="btn btn-primary">Buscar</button>
                                </div>
                                <div class="col" style="padding: 5px;"><button style="height: 90%; padding: 5px;"
                                        class="btn btn-primary">Ver total de productos</button></div>
                                <div class="col" style="padding: 5px;"><button style="height: 90%; padding: 5px;"
                                        class="btn btn-primary">Confirmar todo</button></div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="min-width:8rem" class="text-center">Fecha Reserva</th>
                                <th style="min-width:8rem" class="text-center">Fecha Venta</th>
                                <th style="min-width:10rem" class="text-center">Cliente</th>
                                <th style="min-width:10rem" class="text-center">Producto</th>
                                <th style="min-width:6rem" class="text-center">Cantidad</th>
                                <th style="min-width:8rem" class="text-center">Unidad Medida</th>
                                <th style="min-width:6rem" class="text-center">Precio</th>
                                <th style="min-width:6rem" class="text-center">Total</th>
                                <th style="min-width:6rem" class="text-center">Amort.</th>
                                <th style="min-width:10rem" class="text-center">Observacion</th>
                                <th style="min-width:5rem" class="text-center">Confirmar</th>
                                <th style="min-width:5rem" class="text-center">Editar</th>
                                <th style="min-width:5rem" class="text-center">Rechazar</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-row>
                            <tr>
                                <td class="text-center">
                                    {{ row.fechaReserva }}
                                </td>
                                <td class="text-center">
                                    {{ row.fecha }}
                                </td>
                                <td class="text-center">
                                    {{ row.clienteName }}
                                </td>
                                <td class="text-center">
                                    {{ row.productName }}
                                </td>
                                <td class="text-center">
                                    {{ row.Cantidad }}
                                </td>
                                <td class="text-center">
                                    {{ row.unidadMedida}}
                                </td>
                                <td class="text-center">
                                    {{ row.precioIngresadoVenta / row.cantidadVenta }}
                                </td>
                                <td class="text-center">
                                    {{ row.precioIngresadoVenta }}
                                </td>
                                <td class="text-center">
                                    {{ row.amortizacion }}
                                </td>
                                <td class="text-center">
                                    {{ row.observacion }}
                                </td>
                                <td class="text-center">
                                    <button
                                        style="border-radius: 50%;background: darkblue; border: 1px solid darkblue;color:  white;">
                                        <li class="pi pi-check"></li>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button
                                        style="border-radius: 50%;background: darkorange; border: 1px solid darkorange;color:  white;">
                                        <li class="pi pi-pencil"></li>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button
                                        style="border-radius: 50%;background: red; border: 1px solid red;color:  white;">
                                        <li class="pi pi-trash"></li>
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="7">No hay datos.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>

<p-dialog [closable]="false" [modal]="true" [(visible)]="PagoDeudaModal" [style]="{ width: '25rem' }">
    <div>
        Deuda acumulada de <b>{{nombreClientePago}}</b>: <h4> <b>{{deudaActualizada | currency: "S/ ":2}}</b></h4>
    </div>

    <div class="align-items-center gap-3 mb-3">
        <label class="font-semibold w-6rem">Fecha Pago:</label>
        <input type="datetime-local" class="form-control" [(ngModel)]="FechaPago" autocomplete="off" />
    </div>
    <div class="align-items-center gap-3 mb-3">
        <label class="font-semibold w-6rem">Monto:</label>
        <input type="number" class="form-control" [(ngModel)]="monto" autocomplete="off" />
    </div>

    <div class="align-items-center gap-3 mb-3">
        <label class="font-semibold w-6rem">Observacion:</label>
        <input type="text" class="form-control" [(ngModel)]="observacion" autocomplete="off" />
    </div>
    <div class="gap-2">
        <div class="row">
            <div class="col text-center"><button class="btn btn-primary" (click)="InsertPagoAdelanto()">Guardar</button>
            </div>
            <div class="col text-center"><button class="btn btn-danger" (click)="ModalAdelantoClose()">Cancelar</button>
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog [closable]="false" [modal]="true" [(visible)]="loading" [style]="{ width: '25rem' }">
    <div class="loader" style="width: 100%;">
        <span class="loader-text">Cargando Informacion ... Espere porfavor</span>
        <span class="load"></span>
    </div>
</p-dialog>

<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'"
    [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'" position="bottom-right"
    key="Notificacion" />
