.input-group textarea {
  width:100%;
  float: left;
  border-right: 1px solid #808080;
  outline: none;
  padding: 5px 0;
  line-height: 1;
  font-size: 14px;
  font-family: 'Raleway';
  border-bottom: solid 1px #9b9b9b;
  transition: box-shadow 0.2s ease-in;
  background-color: transparent;
}

textarea {
  resize: horizontal;
}
label {
  float: left;
  font-family: Raleway;
  font-size: 15px;
  font-weight: bold;
}
