<div class="container">
  <h3 class="title">Reporte de ganancias por producto</h3>
  <br />
  <div class="col-md-12 border" style="margin:0 auto">
    <form class="cuadros-group" [formGroup]="frm" style="padding-left:1%; padding-right:1%">
      <div class="input-group">
        <input class="form-control active" formControlName="fechaInicio" type="date" [(ngModel)]="fInicio" required />
        <label>Desde:</label>
      </div>
      <div class="input-group">
        <input class="form-control active" type="date" formControlName="fechaFin" [(ngModel)]="fFin" required />
        <label>Hasta:</label>
      </div>
      <button type="submit" (click)="getReporte(fInicio, fFin)">Filtrar</button>
      <h4><span>Ganancia Total: {{gananciaTotal | currency: "S/":2}}</span></h4>
      <h4><span>Gasto Total: {{gastoTotalPeriodo | currency: "S/":2}}</span></h4>
      <h4><span>Ganancia Neta: {{gananciaTotal - gastoTotalPeriodo | currency: "S/":2}}</span></h4>
    </form>
  </div>

  <kendo-grid [data]="reporteGananciaKendo"
              [groupable]="false"
              [group]="groups"
              [height]="400">
    <kendo-grid-column [hidden]="true" field="relevanceValue" title="">
      <ng-template kendoGridGroupHeaderTemplate let-value="value">
        <h4>{{listaProductos[value]}}</h4>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="productName" title="">
      <ng-template kendoGridGroupHeaderTemplate let-value="value">
        <h4>{{value}}</h4>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>

    <table>
      <thead>
        <tr>
          <th></th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>PROMEDIO COMPRA</th>
          <td>{{dataItem.compraCantidad}}</td>
          <td>{{dataItem.compraPrecio | currency: "S/":2}}</td>
          <td>{{dataItem.compraTotal | currency: "S/":2}}</td>
        </tr>
        <tr>
          <th>VENTA TOTAL</th>
          <td>{{dataItem.ventaCantidad}}</td>
          <td>{{dataItem.ventaPrecio | currency: "S/":2}}</td>
          <td>{{dataItem.ventaTotal | currency: "S/":2}}</td>
        </tr>
        <tr>
          <th scope="row">GANANCIA PARCIAL</th>
          <td>{{dataItem.gananciaParcial | currency: "S/":2}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">FLETES</th>
          <td>{{dataItem.flete | currency: "S/":2}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">GANANCIA TOTAL</th>
          <td>{{dataItem.gananciaTotal | currency: "S/":2}}</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </ng-template>-->
    </kendo-grid-column>

</kendo-grid>
</div>
