<div class="col-md-12 border" style="margin-top:2rem">
  <h4 style="text-align:left">
    <button class="btn btn-success" (click)="backComponent('lista-compras/list','modal-cambiar-seccion-s')" style="margin:0 5px 0 0"> < Regresar </button>
    Detalle de Compra Seleccionada para Verificar
  </h4>

  <form class="cuadros-group">

    <div class="input-group">
      <input type="date" name="fCompra" [ngModel]="fCompra | date:'yyyy-MM-dd'" [value]="currentCompraObj.fechaCompra | date:'yyyy-MM-dd'" class="form-control active" disabled onblur="checkInput(this)" style="background-color:gainsboro;padding:2px">
      <label for="nombrePV" class="label-produc">
        Fecha de Compra
      </label>
    </div>
    <div class="input-group">
      <input type="date" name="fEntrega" [ngModel]="fEntrega | date:'yyyy-MM-dd'" [value]="currentCompraObj.fechaEntrega | date:'yyyy-MM-dd'" class="form-control active" disabled onblur="checkInput(this)" style="background-color:gainsboro;padding:2px">
      <label for="nombrePV" class="label-produc">
        Fecha de Entrega
      </label>
    </div>

    <div class="input-group">
      <select onblur="checkInput(this)" [(ngModel)]="origenCompra" name="origenCompra" class="form-control active" style="padding: 4px 36px;background-color:gainsboro;" disabled >
        <option disabled selected value="0" style="display:none"></option>
        <option value="1">Trujillo</option>
        <option value="2">Talara</option>
      </select>
      <label for="nombrePV" class="label-produc">
        Origen de la Compra
      </label>
    </div>

    <div class="input-group">
      <input type="number" [(ngModel)]="totalCompra" name="totalCompra" class="form-control active" disabled onblur="checkInput(this)" style="background: gainsboro;">
      <label for="nombrePV" class="label-produc">
        Total de la Compra (S/):
      </label>
    </div>

    <div class="input-group">
      <input type="number" [(ngModel)]="fleteCompra" name="fleteCompra" class="form-control active" onblur="checkInput(this)" style="background: gainsboro;" disabled>
      <label for="nombrePV" class="label-produc">
        Costo del Flete (S/):
      </label>
    </div>

  </form>
</div>


<div class="col-md-12 border" style="margin-top: 2rem; padding: 0px;">

  <kendo-grid [data]="compraverificarKendo" [pageable]="true" [pageSize]="pageSize" [skip]="skip" (pageChange)="pageChange($event)">

    <kendo-grid-column field="" title="Proveedor" width="85">
      <ng-template kendoGridCellTemplate let-dataItem>
        <p *ngFor="let prov of dataTempProveedor | filter : 'proveedorId' : dataItem.proveedorId ">{{prov.proveedorName}}</p>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="" title="Producto" width="85">
      <ng-template kendoGridCellTemplate let-dataItem>
        <p *ngFor="let prod of dataTempProducto | filter : 'productId' : dataItem.productId ">{{prod.productName}}</p>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="cantidadCompra" title="Cantidad" width="85">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input class="form-control active inputedit" type="number" min="0" [(ngModel)]="dataItem.cantidadCompra" name="cantidadCompra" (change)="setValues(dataItem)" [ngClass]="{'noinputedit':dataItem.compraEstado == 1, 'inputeditable':dataItem.compraEstado == 2}" />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="unidadMedida" title="Unidad Medida" width="80"></kendo-grid-column>
    <!--<kendo-grid-column field="pesoCompra" title="Peso" width="65"></kendo-grid-column>-->
    <kendo-grid-column field="precioUnitario" title="Precio Unitario" width="70"></kendo-grid-column>
    <kendo-grid-column field="precioCompra" title="Total" width="70"></kendo-grid-column>
    <kendo-grid-column field="totalDeposito" title="Amortización" width="100"></kendo-grid-column>
    <kendo-grid-column field="saldoDeposito" title="Saldo" width="65"></kendo-grid-column>
    <kendo-grid-column field="costoFleteItemCompra" title="Flete Unitario" width="70">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        {{dataItem.costoFleteItemCompra / dataItem.cantidadCompra}}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="documentoCompra" title="Documento Compra" width="100"></kendo-grid-column>

    <kendo-grid-column title="" field="index" width="85">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input (change)="onChange(dataItem.detalleCompraId)" type="checkbox" [attr.disabled]="dataItem.btnEstado" [attr.checked]="dataItem.btnEstado">
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>

  <!--<table border="0" cellpadding="0" cellspacing="0" class="tbl-content" style="vertical-align:middle">
    <thead class="thead-dark">
      <tr>
        <th style="width: 11%;">Proveedor</th>
        <th style="width: 10%;">Producto</th>
        <th style="width: 7%;">Cant.</th>
        <th style="width: auto;" tooltip title="Unidad de Medida">Unidad Medida</th>
        <!--<th style="width: 6%;">Peso (Kg)</th>
        <th style="width: 10%;">Precio</th>
        <th style="width: 10%;" tooltip title="Total del Depósito">T.D.</th>
        <th style="width: 10%;" tooltip title="Saldo del Depósito">S.D</th>
        <th style="width: 10%;" tooltip title="Costo Flete Unitario">C.F.U.</th>
        <th style="width: 8%;" tooltip title="Documento de compra">Doc. compra</th>
        <th style="width: 6%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let o of currentCompraObj.compraDetalleTabla">
        <td hidden>{{o.detalleCompraId}}</td>
        <td *ngFor="let prov of dataTempProveedor | filter : 'proveedorId' : o.proveedorId ">{{prov.proveedorName}}</td>
        <td *ngFor="let prod of dataTempProducto | filter : 'productId' : o.productId ">{{prod.productName}}</td>
        <td>{{o.cantidadCompra}}</td>
        <td>{{o.unidadMedida}}</td>
        <!--<td>{{o.pesoCompra}}</td>
        <td>{{o.precioCompra | currency: "S/":2}}</td>
        <td>{{o.totalDeposito | currency: "S/":2}}</td>
        <td>{{o.saldoDeposito | currency: "S/":2}}</td>
        <td>{{o.costoFleteItemCompra | currency: "S/":2}}</td>
        <td>{{o.documentoCompra}}</td>
        <td>
          <input (change)="onChange(o.detalleCompraId)" type="checkbox" [attr.disabled]="o.btnEstado" [attr.checked]="o.btnEstado">
        </td>
      </tr>
    </tbody>
  </table>-->
</div>

<br />
<div style="text-align:center" >
  <button style="margin:0;" class="btn btn-success" (click)="guardarCambios()" [hidden]="btnDisabled">Guardar cambios</button>
</div>


<div class="modal" id="modal-cambiar-seccion-s">
  <div class="cd-popup-container">

    <p>¿Seguro que desea cambiar de sección?</p>
    <ul class="cd-buttons">
      <li><a (click)="cambiarSeccion(); closeMod('modal-cambiar-seccion-s')">Si</a></li>
      <li><a (click)="closeMod('modal-cambiar-seccion-s')">No</a></li>
    </ul>
    <a (click)="closeMod('modal-cambiar-seccion-s')" class="cd-popup-close img-replace">Close</a>
  </div>
</div>


<div>
  <div class="sweet-overlay" tabindex="-1" style="opacity: 0; display: none;">
  </div>
  <div class="sweet-alert hideSweetAlert" tabindex="-1" data-has-cancel-button="false" data-allow-ouside-click="false" data-has-done-function="false" style="display: none; margin-top: -176px; opacity: -0.01;">
    <div class="icon error" style="display: block;">
      <span class="x-mark"><span class="line left"></span><span class="line right"></span></span>
    </div>
    <div class="icon warning" style="display: none;">
      <span class="body"></span> <span class="dot"></span>
    </div>
    <div class="icon info" style="display: none;">
    </div>
    <div class="icon success" style="display: none;">
      <span class="line tip"></span> <span class="line long"></span>
      <div class="placeholder">
      </div>
      <div class="fix"></div>
    </div>
    <div class="icon custom" style="display: none;"></div>
    <h2>Cancelled</h2>
    <p style="display: block;">Your imaginary file is safe :)</p>
    <button class="cancel" tabindex="-1" style="display: none; box-shadow: none;">Cancel</button>
    <button class="confirm" tabindex="-1" style="display: none; box-shadow: none;">OK</button>
    <button class="btn w-xs btn-info" tabindex="-1" style="display:none;  box-shadow: none;">Cerrar</button>
  </div>
</div>
