<p-breadcrumb class="max-w-full" [model]="items">
  <ng-template pTemplate="item" let-item>
      <ng-container *ngIf="item.route; else elseBlock">
          <a [routerLink]="item.route" class="p-menuitem-link">
              <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
              <span class="text-primary font-semibold">{{ item.label }}</span>
          </a>
      </ng-container>
      <ng-template #elseBlock>
          <a [href]="item.url">
              <span class="text-color">{{ item.label }}</span>
          </a>
      </ng-template>
  </ng-template>
</p-breadcrumb>
<div style="padding-top: 5px;">
  <div class="card" style="padding: 0px; ">
      <div class="container-fluid">
          <div class="row gx-2">
              <div class="col-3">
               <b>Desde:</b>
               <input type="date" class="form-control" [(ngModel)]="fInicio">
              </div>
            <div class="col-3">
              <b>Hasta:</b>
               <input type="date" class="form-control" [(ngModel)]="fFin">
            </div>
            <div class="col-3">
              <b>Proveedor:</b>
              <p-dropdown [options]="ProveedorData" optionLabel="proveedorName" [filter]="true"
              filterBy="proveedorName"   [(ngModel)]="ProveedorSelected"  placeholder="Selecciona Proveedor">
              <ng-template let-row pTemplate="item">
                  <div style="padding-left: 4px;">
                      <div>{{ row.proveedorName }}</div>
                  </div>
              </ng-template>
          </p-dropdown>
            </div>
            <div class="col-3">
              <button class=" btn btn-primary" (click)="getReporte()">filtrar</button>
          </div>
          </div>
        </div>

  </div>
</div>
