<div class="modal" id="modal-productos">
  <div class="cd-popup-container" style="width: 80%; overflow-y: scroll; height: 80%;">
    <div style="padding: 10px;">
      <button [hidden]="p.productName=='NONProduct'" *ngFor="let p of dataTempProducto |  filter : 'productParentId' : '0'" class=" {{p.bloq}}" [disabled]="!p.bloq" (click)="subcategorias(p.productId)" type="submit" style="margin: 5px;">
        {{p.productName}}
      </button>
    </div>
      <div style="padding: 10px;">
        <button [hidden]="hidd"  *ngFor="let subcate of subcategoriaFilter" type="submit" style="background-color:forestgreen;margin:5px" (click)="seleccionaProducto(subcate.productId,subcate.productName);closeMod('modal-productos')" onblur="checkInput(document.getElementById('producto'))" >
          {{subcate.productName}}
        </button>
      </div>
    <a (click)="closeMod('modal-productos')" class="cd-popup-close img-replace">Close</a>
  </div>
</div>

<div class="modal" id="modal-eliminar">
    <div class="cd-popup-container">
      <input type="hidden" #identificador id="idVenta" [(ngModel)]="ventaID" [ngModelOptions]="{standalone: true}" />
      <p>¿Desea eliminar el producto?</p>
      <ul class="cd-buttons">
        <li><a (click)="eliminarProducto(identificador.value); closeMod('modal-eliminar')">Si</a></li>
        <li><a (click)="closeMod('modal-eliminar')">No</a></li>
      </ul>
      <a (click)="closeMod('modal-eliminar')" class="cd-popup-close img-replace">Close</a>
    </div>
</div>

<div class="modal" id="modal-confirmar">
  <div class="cd-popup-container">    
    <p>¿Desea confirmar la venta?</p>
    <ul class="cd-buttons">
      <li><a><button style="margin:0px; width:100%; height:100%; cursor:pointer;" (click)="guardarProductos(); closeMod('modal-confirmar')" [disabled]="guardarIsDisabled">Si</button></a></li>
      <li><a (click)="closeMod('modal-confirmar')">No</a></li>
    </ul>
    <a (click)="closeMod('modal-confirmar')" class="cd-popup-close img-replace">Close</a>
  </div>
</div>

<div class="modal" id="modal-confirmar-perdida">
  <div class="cd-popup-container">
    <p>Se grabara esta venta como una Perdida y los montos de precio y total seran S/. 0.00. <br />¿Está seguro de continuar?</p>
    <ul class="cd-buttons">
      <li><a (click)="guardarperdida(); closeMod('modal-confirmar-perdida')">Si</a></li>
      <li><a (click)="closeMod('modal-confirmar-perdida')">No</a></li>
    </ul>
    <a (click)="closeMod('modal-confirmar')" class="cd-popup-close img-replace">Close</a>
  </div>
</div>
 
<div class="container" id="seleccionproductos">
  <h3 class="title">
    Detalle de Venta
  </h3>
  <br />
  <h4 class="subtitle">{{cliente1.clienteName}}</h4>

  <div class="border" style="margin-bottom:2rem;display:flex">
    <form [formGroup]="frm" style="width:100%">
      <div class="cuadros-group right-ventas xs-left">
        <div class="input-group">
          <h4>Deuda acumulada</h4>
          <p style="font-size: 18px;font-weight: bold;">S/. {{DeudaByClient}}</p>
        </div>
        <div *ngIf="unidadDeMedida == 'Unidad' && cantidadPV % 1 > 0" style="color:red; font-weight: bold;">
          Venta de unidades en fracción
        </div>
      </div>
      <div class="left-ventas">
        <div class="cuadros-group">
          <div class="input-group">
            <input value="{{productoName}}" readonly="readonly" class="open" (click)="openModal('modal-productos')" [(ngModel)]="nombrePV" [ngModelOptions]="{standalone: true}" required #nombreProducto id="producto" onblur="checkInput(this)" type="text" />
            <label for="nombrePV" class="label-produc">
              Producto
              <span *ngIf="(productoName == null) || (productoName == '')" class="alert-validation">*</span>
            </label>
          </div>

          <div class="input-group" style="margin: 10px;">
            <select id="inputState" class="active" formControlName="unidadMedida" [(ngModel)]="unidadDeMedida" #unidadMedida (change)="cambiarStockUnidadMedida()">
              <option *ngFor="let subum of equivalenciaFilter" value="{{subum.unidadBase}}">{{subum.unidadBase}}</option>

            </select>
            <label for="unidadMedida">
              Unidad Medida
              <span *ngIf="unidadDeMedida == 0" class="alert-validation">*</span>
            </label>
          </div>

          <div class="input-group">
            <input class="active" #cantidad min="1" id="txtCantidad" [readonly]="readonly" [(ngModel)]="cantidadPV" data-ng-model="cantidad" required formControlName="cantidadPV" (change)="calcularTotal(); actualizarDeudaActualizada()" (keyup)="checkCantidad(cantidad.value)" type="number" />
            <label for="cantidad">
              Cantidad
              <span *ngIf="cantidadPV <= 0 || cantidadPV == null" class="alert-validation">*</span>
              <span *ngIf="cantidadPV <= 0 || cantidadPV == null" class="alert-validation" style="font-size:8px">Ingrese cantidad mayor a 0</span>
            </label>
          </div>

          <div class="input-group">
            <input style="background: gainsboro;" class="active" step="0.01" min="0" #stock formControlName="stockAc" [(ngModel)]="stockActual" disabled type="number" />
            <label for="stockActual">
              Stock Actual
            </label>
          </div>
          <div class="input-group">
            <input class="active" step="0.01" min="0" id="txtPrecio" [readonly]="readonly" #precio formControlName="precioPV" [(ngModel)]="precioPV" data-ng-model="precio" required (change)="calcularTotal(); actualizarDeudaActualizada()" onblur="checkInput(this); checkInput(document.getElementById('txtTotal'))" type="number" />
            <label for="precioPV">
              Precio (S/)
              <span *ngIf="(precioPV <= 0) || (precioPV == null)" class="alert-validation">*</span>
              <span *ngIf="(precioPV <= 0) || (precioPV == null)" class="alert-validation" style="font-size:8px"> Ingrese precio mayor a 0</span>
            </label>
          </div>
          <div class="input-group" hidden>
            <input class="active" step="0.01" min="0" id="txtDeudaActualizada" [readonly]="readonly" data-ng-model="deudaact" required (change)="actualizarDeudaActualizada()" onblur="checkInput(this)" type="hidden" />
          </div>
          <div class="input-group">
            <input class="active" step="0.01" min="0" id="txtTotal" [readonly]="readonly" #total [(ngModel)]="totalPV" data-ng-model="total" required formControlName="totalPV" (change)="actualizarDeudaActualizada()" onblur="checkInput(this)" type="number" />
            <label for="totalPV">
              Total (S/)
            </label>
          </div>
          <div class="input-group">
            <input class="active" step="0.01" min="0" id="txtAmortizacion" [readonly]="readonly" [(ngModel)]="amortizacion" formControlName="amortizacion" onblur="checkInput(this)" type="number" (change)="actualizarDeudaActualizada()" />
            <label for="amortizacion">
              Amortización (S/)
              <span *ngIf="amortizacion == null" class="alert-validation">*</span>
            </label>
          </div>
        </div>
        <div>
          <button *ngIf="actualizar" style="grid-column: 2;" type="submit" [disabled]="!frm.valid" [hidden]="!actualizar" (click)="agregaProducto(cantidad.value,precio.value,total.value,nombreProducto.value,unidadMedida.value,true,true);">
            Registrar
          </button>
          <button style="grid-column: 2;" type="submit" [hidden]="actualizar" (click)="actualizarProducto(cantidad.value,precio.value,total.value,nombreProducto.value,unidadMedida.value,false);">
            Actualizar
          </button>
          <button type="button" [hidden]="actualizar" (click)="cancelarEdicion();">
            Cancelar
          </button>
        </div>
      </div>
    </form>   
  </div>
    <span *ngIf="!noDuplicate">Producto ya se encuentra registrado.</span>

    <div class="border">

      <kendo-grid [data]="ventaKendo"
                  [pageSize]="pageSize"
                  [skip]="skip"
                  (pageChange)="pageChange($event)"
                  [pageable]="true">
        <kendo-grid-column field="productId.productName" title="Nombre Producto" width="130"></kendo-grid-column>
        <kendo-grid-column field="cantidadVenta" title="Cantidad" width="90">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span *ngIf="dataItem.cantidadVenta % 1 > 0 && dataItem.productId.unidadMedidad == 'Unidad'"
                  [ngClass]="{'warning':dataItem.cantidadVenta % 1 > 0 && dataItem.productId.unidadMedidad == 'Unidad'}" data-title="Unidades en fracción">{{ dataItem.cantidadVenta }}</span>
            <span *ngIf="!(dataItem.cantidadVenta % 1 > 0 && dataItem.productId.unidadMedidad == 'Unidad')">{{ dataItem.cantidadVenta }}</span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="productId.unidadMedidad" title="Unidad Medida" width="120">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span *ngIf="dataItem.cantidadVenta % 1 > 0 && dataItem.productId.unidadMedidad == 'Unidad'"
                  [ngClass]="{'warning':dataItem.cantidadVenta % 1 > 0 && dataItem.productId.unidadMedidad == 'Unidad'}" data-title="Unidades en fracción">{{ dataItem.productId.unidadMedidad}}</span>
            <span *ngIf="!(dataItem.cantidadVenta % 1 > 0 && dataItem.productId.unidadMedidad == 'Unidad')">{{ dataItem.productId.unidadMedidad}}</span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="productId.precio" title="Precio" width="90">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.productId.precio | currency:"S/":2}}
          </ng-template>
        </kendo-grid-column>
        <!--<kendo-grid-column field="precioRealVenta" title="Total Real" width="100">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.precioRealVenta | currency:"S/":2}}
          </ng-template>
        </kendo-grid-column>-->
        <kendo-grid-column field="precioIngresadoVenta" title="Total" width="100">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.precioIngresadoVenta | currency:"S/":2}}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="amortizacion" title="Amortización" width="110">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.amortizacion | currency:"S/":2}}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="deudaActualizada" title="Deuda Actualizada" width="100">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.deudaActualizada | currency:"S/":2}}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="" width="50">
          <ng-template kendoGridCellTemplate let-dataItem>
            <a class="btn btn-danger" role="button" (click)="editaSeleccionProducto(dataItem.idVenta);">
              <img _ngcontent-c7="" alt="X" src="https://cdn4.iconfinder.com/data/icons/markerstyle_icons/PNG/16px/pencil.png">
            </a>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="" width="50">
          <ng-template kendoGridCellTemplate let-dataItem>
            <a class="open" (click)="enviaIDVenta(dataItem.idVenta); openModal('modal-eliminar')"><i class="icon-delete"></i></a>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>

      <!--<table border="0" cellpadding="0" cellspacing="0" class="tbl-content">
        <thead>
          <tr>
            <th style="width: 17%">
              Producto/Marca
            </th>
            <th>
              Cantidad
            </th>
            <th tooltip title="Unidad Medida" style="width: 9%;">
              U.M.
            </th>
            <th>
              Precio
            </th>
            <th tooltip title="Total Real">
              T.R.
            </th>
            <th tooltip title="Total Ingresado">
              T.I.
            </th>
            <th>
              Amortización
            </th>
            <th tooltip title="Deuda Actualizada">
              D.A.
            </th>
            <th style="width: 5%">

            </th>
            <th style="width: 5%">

            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let venta of ventas ; let i = index; ">

            <td [hidden]="true">{{i + 1}}</td>
            <td>
              {{venta.productId.productName}}
            </td>
            <td>
              {{venta.cantidadVenta}}
            </td>
            <td>
              {{venta.productId.unidadMedidad}}
            </td>
            <td>
              {{venta.productId.precio | currency: "S/":2}}
            </td>
            <td>
              {{venta.precioRealVenta | currency: "S/":2}}
            </td>
            <td>
              {{venta.precioIngresadoVenta | currency: "S/":2}}
            </td>
            <td>
              {{venta.amortizacion | currency: "S/":2}}
            </td>
            <td>
              {{venta.deudaActualizada | currency: "S/":2}}
            </td>
            <td>
              <a class="btn btn-danger" role="button" (click)="editaSeleccionProducto(venta.productId.productId);
               checkInput(nombrePV); checkInput(cantidadPV); checkInput(unidadDeMedida); checkInput(totalPV); checkInput(amortizacion)">
                <img _ngcontent-c7="" alt="X" src="https://cdn4.iconfinder.com/data/icons/markerstyle_icons/PNG/16px/pencil.png">
              </a>
            </td>
            <td>
              <a class="open" (click)="enviaIDVenta(venta.idVenta); openModal('modal-eliminar')"><i class="icon-delete" style="font-size:20px"></i></a>
            </td>
          </tr>
        </tbody>
      </table>-->
    </div>
    <br />
    <div class="group-save-total">
      <div class="save-total">
        <label>
          Total
        </label>
        <input id="producto" value="{{calculoTotalVentas}}" type="number" disabled>
      </div>
      <!--<button (click)="openModal('modal-confirmar-perdida')">Guardar como Pérdida</button>-->
      <button (click)="openModal('modal-confirmar')">Guardar</button>
      <button style="float:right" routerLink="/menu/historial-ventas/{{sect}}/{{cliente}}">Historial</button>
    </div>
 </div>

<div>
  <div class="sweet-overlay" tabindex="-1" style="opacity: 0; display: none;">
  </div>
  <div class="sweet-alert hideSweetAlert" tabindex="-1" data-has-cancel-button="false" data-allow-ouside-click="false" data-has-done-function="false" style="display: none; margin-top: -176px; opacity: -0.01;">
    <div class="icon error" style="display: block;">
      <span class="x-mark"><span class="line left"></span><span class="line right"></span></span>
    </div>
    <div class="icon warning" style="display: none;">
      <span class="body"></span> <span class="dot"></span>
    </div>
    <div class="icon info" style="display: none;">
    </div>
    <div class="icon success" style="display: none;">
      <span class="line tip"></span> <span class="line long"></span>
      <div class="placeholder">
      </div>
      <div class="fix"></div>
    </div>
    <div class="icon custom" style="display: none;"></div>
    <h2>Cancelled</h2>
    <p style="display: block;">Your imaginary file is safe :)</p>
    <button class="cancel" tabindex="-1" style="display: none; box-shadow: none;">Cancel</button>
    <button class="confirm" tabindex="-1" style="display: none; box-shadow: none;">OK</button>
    <button class="btn w-xs btn-info" tabindex="-1" style="display:none;  box-shadow: none;">Cerrar</button>
  </div>
</div>
