<p-breadcrumb class="max-w-full" [model]="items">
    <ng-template pTemplate="item" let-item>
        <ng-container *ngIf="item.route; else elseBlock">
            <a [routerLink]="item.route" class="p-menuitem-link">
                <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
                <span class="text-primary font-semibold">{{ item.label }}</span>
            </a>
        </ng-container>
        <ng-template #elseBlock>
            <a [href]="item.url">
                <span class="text-color">{{ item.label }}</span>
            </a>
        </ng-template>
    </ng-template>
</p-breadcrumb>


<div class="grid" style="padding-top: 10px;">
    <div class="col-12 lg:col-6 xl:col-6">
        <div style="padding-top: 5px;">
            <div class="card">
                <span class="text-center">
                    <b>
                        <span><b>Datos del sector</b></span>
                    </b>
                </span>
                <hr>
                <div class="grid" style="padding-top: 10px;">
                    <div class="col-12 lg:col-6 xl:col-12">
                        <span><b>Nombres :</b></span>
                        <input type="text" class="form-control" [(ngModel)]="SectorName">
                    </div>

                    <div class="col-12 lg:col-6 xl:col-6">
                        <span><b></b></span>
                        <button class="btn btn-primary"  style="width: 100%;"  [disabled]="update" (click)="Insertsector()">Registrar</button>
                    </div>
                    <div class="col-12 lg:col-6 xl:col-6">
                        <span><b></b></span>
                        <button class="btn btn-danger" style="width: 100%;"  [disabled]="!update" (click)="Actualizarsector()">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-6">
        <div class="card">

            <p-table [value]="SectorData" [paginator]="true" [rows]="5" #dt1  [globalFilterFields]="['sectorName']"
                [rowsPerPageOptions]="[5, 10, 20]" styleClass="p-datatable-gridlines" class="p-datatable-sm">
                <ng-template pTemplate="caption"  >
                    <div class="flex">
                        <span style="color: white;"> Lista de proveedores</span>
                         <span class="ml-auto">
                             <input class="form-control" type="text" [(ngModel)]="searchValue"
                             (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Buscar Sector" />
                         </span>
                     </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center" style="width: 3rem;">#</th>
                        <th class="text-center" style="width: 25rem;">Descripcion</th>
                        <th class="text-center" style="width: 20rem;"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                    <tr>
                        <td class="text-center" style="border-right: 1px solid #71c7c7;border-bottom: 1px solid #71c7c7;">
                            <b>{{rowIndex + 1}}</b>
                        </td>

                        <td class="text-center" style="border-right: 1px solid #71c7c7;border-bottom: 1px solid #71c7c7;">
                            {{row.sectorName}}</td>
                            <td class="text-center" style="border-bottom: 1px solid #71c7c7;">
                                <button style="border-radius: 50%;background: blueviolet; border: 1px solid blueviolet;color:  white;" (click)="seleccionsector(row)" >
                                    <li class="pi pi-pencil"></li>
                                </button>
                            </td>

                </ng-template>
            </p-table>
        </div>
    </div>

</div>


<p-toast position="bottom-center" key="Notificacion" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column align-items-start" style="flex: 1">
            <div class="flex align-items-center gap-2">
                <span class="font-bold text-900">
                    {{ message.summary }}
                </span>
            </div>
            <div class="font-medium text-lg my-3 text-900">
                {{ message.detail }}
            </div>
        </div>
    </ng-template>
</p-toast>
