<header>
  <div id="top-nav-1">
    <span>{{usuarioV.fullName}} - {{usuarioV.roleDescription}}  |  </span>
    <img src="" />
    <i></i>
    <a (click)="logout()">Salir</a>
    <img src="" />
    <i></i>
  </div>
  <div id="top-nav-2">
    <div class="col-md-5 top-left">
      <a (click)="goToSeccionPrincipal('principal','modal-cambiar-seccion')">
        <div class="boximg"><img src="" /></div>
      </a>
      <div style="float: right; text-align: left; padding:5.5px 0px">
        <span>Sistema Distribucion</span>
      </div>
    </div>
    <div class="col-md-7 top-right">
      <nav class="navegacion">
        <ul>
          <li (click)="goToSeccion('ventas','modal-cambiar-seccion')">
            <a>
              <i class="icon-venta"></i> Ventas
            </a>
          </li>
          <li (click)="goToSeccion('compras','modal-cambiar-seccion')" *ngIf="isAdmin">
            <a>
              <i class="icon-compras"></i>
              Compras
            </a>
          </li>
          <li (click)="goToSeccion('gastos','modal-cambiar-seccion')" *ngIf="isAdmin">
            <a>
              <i class="icon-gastos"></i>
              Gastos
            </a>
          </li>
          <li (click)="goToSeccion('reportes','modal-cambiar-seccion')" *ngIf="isAdmin">
            <a>
              <i class="icon-reportes"></i>
              Reportes
            </a>
          </li>
          <li (click)="goToSeccion('mantenedores','modal-cambiar-seccion')" *ngIf="isAdmin">
            <a>
              <i class="icon-gastos"></i>
              Mantenedores
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="container-wrapper">

  <router-outlet>
  </router-outlet>
</div>

<!-- Modal CambiarSeccion-->
<div class="modal" id="modal-cambiar-seccion">
  <div class="cd-popup-container">
    <p>¿Seguro que desea cambiar de sección?</p>
    <ul class="cd-buttons">
      <li><a (click)="cambiarSeccion(); closeMod('modal-cambiar-seccion')">Si</a></li>
      <li><a (click)="closeMod('modal-cambiar-seccion')">No</a></li>
    </ul>
    <a (click)="closeMod('modal-cambiar-seccion')" class="cd-popup-close img-replace">Close</a>
  </div>
</div>
