<div class="container">
  <h3 class="title">Reporte de Ventas</h3>
  <br />
  <div class="col-md-12 border" style="margin:0 auto">
    <form [formGroup]="frm" class="cuadros-group" style="padding-left:1%; padding-right:1%">
      <div class="input-group">
        <input class="form-control active" formControlName="fechaInicio" type="date" [(ngModel)]="fInicio" required />
        <label>Desde:</label>
      </div>
      <div class="input-group">
        <input class="form-control active" type="date" formControlName="fechaFin" [(ngModel)]="fFin" required />
        <label>Hasta:</label>
      </div>
      
       <div class="input-group" style="margin:10px 0px">
       <select [(ngModel)]="producto" name="producto" formControlName="infoProducto"  aria-placeholder="Seleccione producto"  style="padding:4px 0px">
        <option value="0">Todos</option>
         <option *ngFor="let prod of dataTempProducto |  filter : 'productLevel' : '1'" value="{{prod.productId}}">{{prod.productName}}</option>
       </select>
       <label>
         Producto
         <span *ngIf="producto == null" class="alert-validation">*</span>
       </label>
     </div>

      <div class="input-group" style="grid-column:1">
        <p style="font-size: 18px;font-weight: bold;">Total Venta: S/{{totalVenta | number: '0.0-2'}}</p>
      </div>
      <div class="input-group">
        <p style="font-size: 18px;font-weight: bold;">Total Amortización: S/{{totalAmortizacion | number: '0.0-2'}}</p>
      </div>
      <button type="submit" (click)="getReporte()">Filtrar</button>
    </form>
  </div>

  <kendo-grid [data]="reporteVentasKendo"
              [groupable]="{ enabled: false, showFooter: true}"
              [group]="groups"
              [height]="520">

    <kendo-grid-column field="productParentName" title="Categoria" width="100" [headerStyle]="{'font-weight': 'bold'}" [hidden]="true">
      <ng-template kendoGridGroupHeaderTemplate let-value="value">
        <h4>{{value}}</h4>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="productName" title="Producto" width="100" [headerStyle]="{'font-weight': 'bold'}" [hidden]="true">
      <ng-template kendoGridGroupHeaderTemplate let-value="value">
        <h5>{{value}}</h5>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="sectorName" title="Sector" width="100" [headerStyle]="{'font-weight': 'bold'}" [hidden]="true">
      <ng-template kendoGridGroupHeaderTemplate let-value="value">
        <h5>{{value}}</h5>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="fecha" title="Fecha Venta" width="100" [headerStyle]="{'font-weight': 'bold'}">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.fecha | date: 'dd-MM-yyyy HH:mm a'}}
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="clienteName" title="Cliente" width="100" [headerStyle]="{'font-weight': 'bold'}">
      <!--<ng-template kendoGridCellTemplate let-dataItem>
      <span *ngIf="dataItem.clienteName != 'Stock Inicial' && dataItem.clienteName != 'Compra' && dataItem.clienteName != 'Stock Final'">{{dataItem.clienteName}}</span>
      <span *ngIf="dataItem.clienteName == 'Compra'">Compra</span>
      <span *ngIf="dataItem.clienteName == 'Stock Inicial'">Stock Inicial</span>
      <span *ngIf="dataItem.clienteName == 'Stock Final'">Stock Final</span>
    </ng-template>-->
    </kendo-grid-column>

    <kendo-grid-column field="unidadMedida" title="Unidad Medida" width="100" [headerStyle]="{'font-weight': 'bold'}">
      <ng-template kendoGridCellTemplate let-dataItem>
        <span>{{dataItem.unidadMedida}}</span>
      </ng-template>
      <ng-template kendoGridGroupFooterTemplate
                   let-group="group"
                   let-field="field">
        Subtotal:
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="cantidadVenta" title="Cantidad" width="100" [headerStyle]="{'font-weight': 'bold'}">
      <ng-template kendoGridCellTemplate let-dataItem>
        <span *ngIf="dataItem.descripcion == 'Stock Inicial'">{{dataItem.stockInicial | number : '0.0-2'}}</span>
        <span *ngIf="dataItem.descripcion == 'Compra'">{{dataItem.cantidadCompra | number : '0.0-2'}}</span>
        <span *ngIf="dataItem.descripcion == 'Venta'">{{dataItem.cantidadVenta | number : '0.0-2'}}</span>
        <span *ngIf="dataItem.descripcion == 'Stock Final'">{{dataItem.stockSobrante | number : '0.0-2'}}</span>
      </ng-template>
      <ng-template kendoGridGroupFooterTemplate
                   let-group="group"
                   let-aggregates>
        <span *ngIf="group.value == '  Stock Inicial'">{{aggregates["stockInicial"].sum + aggregates["cantidadCompraEstandar"].sum | number : '0.0-2'}}</span>
        <span *ngIf="group.value != '  Stock Inicial' && group.value != 'Stock Final'">{{aggregates["cantidadVentaEstandar"].sum | number : '0.0'}}</span>
        <span *ngIf="group.value == 'Stock Final'">{{aggregates["stockSobrante"].sum | number : '0.0-2'}}</span>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="precioIngresadoVenta" title="Monto Venta" width="100" [headerStyle]="{'font-weight': 'bold'}">
      <!--<ng-template kendoGridCellTemplate let-dataItem>
      <span *ngIf="dataItem.clienteName != 'Stock Inicial' && dataItem.clienteName != 'Compra' && dataItem.clienteName != 'Stock Final'">{{dataItem.precioIngresadoVenta | currency: "S/ ":2}}</span>
    </ng-template>-->
      <ng-template kendoGridGroupFooterTemplate
                   let-group="group"
                   let-aggregates>
        {{aggregates["precioIngresadoVenta"].sum | currency: "S/ ":2}}
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="amortizacion" title="Amortización" width="100" [headerStyle]="{'font-weight': 'bold'}">
      <!--<ng-template kendoGridCellTemplate let-dataItem>
      <span *ngIf="dataItem.clienteName != 'Stock Inicial' && dataItem.clienteName != 'Compra' && dataItem.clienteName != 'Stock Final'">{{dataItem.amortizacion | currency: "S/ ":2}}</span>
    </ng-template>-->
      <ng-template kendoGridGroupFooterTemplate
                   let-group="group"
                   let-aggregates>
        {{aggregates["amortizacion"].sum | currency: "S/ ":2}}
      </ng-template>
    </kendo-grid-column>

  </kendo-grid>

</div>
