<div class="container">
  <h3 class="title">Ventas</h3>
  <div class="cuadros-group">
    <!--<div class="cuadros" *ngFor="let s of sector">
      <img src="" />
      <p class="menu-label">{{s.sectorName.toUpperCase()}}</p><br />
      <a class="menu-button" routerLink="/menu/clientes-sector/{{s.sectorId}}">Entrar</a>
    </div>-->
    <div class="cuadros">
      <img src="" />
      <p class="menu-label">ENACE</p><br />
      <p class="menu-label">Deuda total: {{deuda1 | currency:"S/":2}}</p><br />
      <a class="menu-button" routerLink="/menu/clientes-sector/1">Entrar</a>
    </div>
    <div class="cuadros">
      <img src="" />
      <p class="menu-label">NEGRITOS</p><br />
      <p class="menu-label">Deuda total: {{deuda2 | currency:"S/":2}}</p><br />
      <a class="menu-button" routerLink="/menu/clientes-sector/5">Entrar</a>
    </div>
    <div class="cuadros">
      <img src="" />
      <p class="menu-label">TALARA ALTA</p><br />
      <p class="menu-label">Deuda total: {{deuda3 | currency:"S/":2}}</p><br />
      <a class="menu-button" routerLink="/menu/clientes-sector/4">Entrar</a>
    </div>
    <div class="cuadros">
      <img src="" />
      <p class="menu-label">TALARA BAJA</p><br />
      <p class="menu-label">Deuda total: {{deuda4 | currency:"S/":2}}</p><br />
      <a class="menu-button" routerLink="/menu/clientes-sector/3">Entrar</a>
    </div>
  </div>
</div>
