@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?m18dkq');
  src:  url('fonts/icomoon.eot?m18dkq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?m18dkq') format('truetype'),
    url('fonts/icomoon.woff?m18dkq') format('woff'),
    url('fonts/icomoon.svg?m18dkq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gastos:before {
  content: "\e908";
  color: #fff;
}
.icon-compras:before {
  content: "\e909";
  color: #fff;
}
.icon-edit .path1:before {
  content: "\e901";
  color: rgb(51, 51, 51);
}
.icon-edit .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(60, 68, 79);
}
.icon-edit .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(239, 209, 132);
}
.icon-edit .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-save:before {
  content: "\e905";
}
.icon-delete:before {
  content: "\e906";
}
.icon-reportes---copia:before {
  content: "\e907";
  color: #fff;
}
.icon-venta:before {
  content: "\e90d";
  color: #fff;
}
.icon-historial:before {
  content: "\e90e";
}
.icon-Sin-título-1:before {
  content: "\e900";
}
