<!-- <div class="container-fluid">
    <div class="col-sm-12">
        <div class="card text-center" style="width: 100%;height: calc(100vh - 14rem);">
            <h1>{{Personal}}</h1>
            <div>
                <img src="../../../assets/layout/images/LogoSistema/LogoDash.png" alt="" >
            </div>
        </div>
    </div>
</div>
 -->


 <div class="container-fluid">
    <div class="col-sm-12">
        <div class="card grid" style="width: 100%;height: calc(100vh - 14rem);">
            <div class="grid">
                <h1> <b>{{"Bienvenid" + "@" }}</b> </h1>
                <h2>{{Personal}}</h2>
                <div style="    text-align-last: center;">
                    <img src="assets/layout/images/LogoSistema/logodistribucion.png" style="    width: 50%;
                    height: 50%;" >
                </div>
              </div>
        </div>
    </div>
</div>

