

:host ::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
    background: #e5e5e5;
}

:host ::ng-deep .p-datatable .p-datatable-header {
    background: darkslategrey;
    color: #ffffff;
    border: 1px solid darkgrey;
    border-width: 1px 0 1px 0;
    padding: 0.3rem 0.5rem;
    font-weight: 700;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    text-align: left;
    padding: 0.3rem 1rem;
    border: 1px solid #dfe7ef;
    border-width: 0 0 1px 0;
    font-weight: 700;
    color: #ffffff;
    background: darkslategrey;
    transition: box-shadow 0.2s;
}


:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid #dfe7ef;
    border-width: 0 0 1px 0;
    padding: 0.8rem 1rem;
}

:host ::ng-deep .p-inputtext {
    padding-top: 4px;
    height: 30px;
}
