<p-breadcrumb class="max-w-full" [model]="items" [home]="home" />

<div style="padding-top: 5px;">
    <div class="card">
        <div class="card-title" style="color: white;padding-bottom: 0px;padding-top: 10px;">
            <div class="container" style="display: flex;">
                <h5 style="color: white;padding-right: 10px;"> Detalle de venta </h5>
                <!--    <b
                    style="color: white;padding-right: 10px;">{{ ClienteName | uppercase}}</b>
                <span style="color: white;padding-right: 10px;">es de:</span> <b>{{DeudaByCliente}}</b> -->
            </div>
        </div>

        <div class="row">
            <div class="col">


                <p-messages [(value)]="ClienteName" [closable]="false" />
            </div>
            <div class="col">
                <p-messages [(value)]="DeudaByClienteLoad" [closable]="false" />
            </div>
        </div>

        <div class="card-body">
            <div class="row" [formGroup]="_FormGroup">
                <div class="col-md-2">

                    <div class="mb-3">
                        <b>Fecha Venta:</b>
                        <input type="datetime-local" [(ngModel)]="FechaVenta" formControlName="FechaVenta"
                            class="form-control">
                    </div>
                    <div class="mb-3">
                        <b>Precio (S/.):</b>
                        <input type="number" class="form-control" [(ngModel)]="precioPV" formControlName="precioPV"
                            (change)="calcularTotal(); actualizarDeudaActualizada()" placeholder="Ingrese Precio">
                    </div>

                </div>
                <div class="col-md-2">

                    <div class="mb-3">
                        <b>Producto:</b>
                        <p-dropdown [options]="ProductosData" optionLabel="productName" [filter]="true"
                            filterBy="productName" (onChange)="seleccionaProducto()" [(ngModel)]="productoSelected"
                            formControlName="productoSelected" placeholder="Selecciona Producto">
                            <ng-template let-row pTemplate="item">
                                <div style="padding-left: 4px;">
                                    <div>{{ row.productName }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="mb-3">
                        <b>Total (S/.):</b>
                        <input type="text" class="form-control" [(ngModel)]="totalPV" formControlName="totalPV"
                            placeholder="0" (change)="actualizarDeudaActualizada()" disabled>
                    </div>

                </div>
                <div class="col-md-2">

                    <div class="mb-3">
                        <b>Unidad Medida:</b>
                        <p-dropdown [options]="EquivalenciaDataFilter" optionLabel="unidadBase" [filter]="true"
                            filterBy="unidadBase" [(ngModel)]="unidadMedidaSelected"
                            formControlName="unidadMedidaSelected" (onChange)="cambiarStockUnidadMedida();cargar()"
                            placeholder="Selecciona Unidad Medida">
                            <ng-template let-country pTemplate="item">
                                <div style="padding-left: 4px;">
                                    <div>{{ country.unidadBase }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="mb-3">
                        <b>Amortizacion(S/.):</b>
                        <input type="number" class="form-control" [(ngModel)]="amortizacion"
                            formControlName="amortizacion" placeholder="Ingrese Amortizacion"
                            (change)="actualizarDeudaActualizada()">
                    </div>

                </div>
                <div class="col-md-2">

                    <div class="mb-3">
                        <b>Cantidad:</b>
                        <input type="number" class="form-control" [(ngModel)]="cantidadPV" formControlName="cantidadPV"
                            (change)="calcularTotal(); actualizarDeudaActualizada(); VALIDAD_STOCK()"
                            placeholder="Ingrese Cantidad">
                    </div>
                    <div class="mb-3">
                        <b>Observacion:</b>
                        <input type="text" class="form-control" [(ngModel)]="observacion" formControlName="observacion"
                            placeholder="Ingrese Observacion">
                    </div>

                </div>
                <div class="col-md-2">

                    <div class="mb-3">
                        <b>Stock Actual:</b>
                        <input type="text" class="form-control" [(ngModel)]="stockActual" formControlName="stockActual"
                            (change)="VALIDAD_STOCK()" placeholder="0">
                    </div>

                </div>
                <div class="col-md-2">

                    <div class="mb-3">
                        <b>Costo (S/.):</b>
                        <input type="text" class="form-control" [(ngModel)]="CostoCompra" formControlName="CostoCompra"
                            placeholder="0" disabled>
                    </div>

                </div>
            </div>
        </div>

        <div class="card-footer" style="padding: 0px;">
            <div class="row">
                <div class="col text-center" style="    padding: 0.6rem;"><button class="btn btn-primary"
                        (click)="agregaProducto()">Agregar
                        Ventas</button></div>
              <div class="col text-center" style="    padding: 0.6rem;">
                     <button
                        class="btn btn-danger" (click)="UpdateVentaDataTemp()">Actualizar</button>
                </div> 
            </div>
        </div>
    </div>
    <div class="card">
        <p-table [value]="VentaDataTemporal" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
            [rowsPerPageOptions]="[5, 10, 20]" styleClass="p-datatable-striped" class="p-datatable-sm">
            <ng-template pTemplate="caption">

                <div class="text-center" style="color: white;">
                    Lista de productos
                </div>

            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Producto</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">U.M</th>
                    <th class="text-center">Precio</th>
                    <th class="text-center">Total</th>
                    <th class="text-center">Amortizacion</th>
                    <th class="text-center">Deuda Actua</th>
                    <th class="text-center">Observacion</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td class="text-center">{{ row.NroFila }}</td>
                    <td class="text-center">{{ row.productName }}</td>
                    <td class="text-center">{{ row.cantidadVenta }}</td>
                    <td class="text-center">{{ row.unidadMedidad }}</td>
                    <td class="text-center">{{ row.precio | number:'1.2-2' }}</td>
                    <td class="text-center">{{ row.precioRealVenta | number:'1.2-2' }}</td>
                    <td class="text-center">{{ row.amortizacion | number:'1.2-2' }}</td>
                    <td class="text-center">{{ row.deudaActualizada | number:'1.2-2' }}</td>
                    <td class="text-center">{{ row.observacion }}</td>
                    <td class="text-center">
                        <button style="border-radius: 50%;background: darkblue; border: 1px solid darkblue;color:  white;" (click)="EditVentaDataTemp(row)">
                            <li class="pi pi-pencil"></li>
                        </button>
                    </td>
                    <td class="text-center">

                        <button style="border-radius: 50%;background: red; border: 1px solid red;color:  white;" (click)="DeleteConfirm($event,row)">
                            <li class="pi pi-trash"></li>
                        </button>


                    </td>
                    <!--  <td class="text-center">{{ row.pesoVenta }}</td> -->
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td colspan="8" class="text-right">Totals</td>
                    <td>{{TotalVentas | currency: 'USD'}}</td> 
                </tr>
            </ng-template>
        </p-table>
<br>

<div class="container">
    <div class="row text-center" style="border: 1px solid darkslategrey;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;">
    <div class="col">
            <button class="btn btn-primary" (click)="InsertVenta()">Guardar</button>
        </div>
        <div class="col">
            <button class="btn btn-success">Reservar</button>
        </div>
        <div class="col">
            <button class="btn btn-info" (click)="GoHistorialVentas()">Historial</button>
        </div>
    </div>
</div>
        
    </div>
</div>


<!-- <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'"
    [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'" position="bottom-right"
    key="Notificacion" /> -->

    <p-toast position="bottom-center" key="Notificacion" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div class="flex flex-column align-items-start" style="flex: 1">
                <div class="flex align-items-center gap-2">
                    <span class="font-bold text-900">
                        {{ message.summary }}
                    </span>
                </div>
                <div class="font-medium text-lg my-3 text-900">
                    {{ message.detail }}
                </div>
            </div>
        </ng-template>
    </p-toast>


     
        <p-toast />
        <p-confirmPopup #confirmPopupRef>
            <ng-template pTemplate="headless" let-message let-test>
                <div class="border-round p-3">
                    <span>{{ message.message }}</span>
                    <div class="flex align-items-center gap-2 mt-3">
                        <button class="btn btn-primary" (click)="DeleteVenta()">Confirmar</button>
                        <button class="btn btn-danger" (click)="NotConfirm()">Cancelar</button> 
                    </div>
                </div>
            </ng-template>
        </p-confirmPopup>
    