<p-breadcrumb class="max-w-full" [model]="items" [home]="home" />

<div style="padding-top: 5px;">
    <div class="card">
        <div class="card-title" style="color: white;padding-bottom: 0px;padding-top: 10px;">
            <div class="container" style="display: flex;">
                <h5 style="color: white;padding-right: 10px;"> Deuda acumulada de </h5> <b
                    style="color: white;padding-right: 10px;">{{'juan garcia afular' | uppercase}}</b>
                <span style="color: white;padding-right: 10px;">es de:</span> <b>{{0}}</b>
            </div>
        </div>

        <div class="card-body">
            <div class="row" [formGroup]="_FormGroup">
                <div class="col-md-2">

                    <div class="mb-3">
                        <b>Fecha Venta:</b>
                        <input type="datetime-local" [(ngModel)]="FechaVenta" formControlName="FechaVenta"
                            class="form-control">
                    </div>
                    <div class="mb-3">
                        <b>Precio (S/.):</b>
                        <input type="number" class="form-control" [(ngModel)]="precioPV" formControlName="precioPV"
                            (change)="calcularTotal(); actualizarDeudaActualizada()" placeholder="Ingrese Precio">
                    </div>

                </div>
                <div class="col-md-2">

                    <div class="mb-3">
                        <b>Producto:</b>
                        <p-dropdown [options]="ProductosData" optionLabel="productName" [filter]="true" filterBy="productName" (onChange)="seleccionaProducto()"
                            [(ngModel)]="productoSelected" formControlName="productoSelected" placeholder="Selecciona Producto">
                            <ng-template let-row pTemplate="item">
                                <div style="padding-left: 4px;">
                                    <div>{{ row.productName }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="mb-3">
                        <b>Total (S/.):</b>
                        <input type="text" class="form-control" [(ngModel)]="totalPV" formControlName="totalPV"
                            placeholder="0" (change)="actualizarDeudaActualizada()" disabled>
                    </div>

                </div>
                <div class="col-md-2">

                    <div class="mb-3">
                        <b>Unidad Medida:</b>
                        <p-dropdown [options]="EquivalenciaDataFilter" optionLabel="unidadBase" [filter]="true" filterBy="unidadBase" [(ngModel)]="unidadMedidaSelected"
                            formControlName="unidadMedidaSelected" (onChange)="cambiarStockUnidadMedida();cargar()"
                            placeholder="Selecciona Unidad Medida">
                            <ng-template let-country pTemplate="item">
                                <div style="padding-left: 4px;">
                                    <div>{{ country.unidadBase }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="mb-3">
                        <b>Amortizacion(S/.):</b>
                        <input type="number" class="form-control" [(ngModel)]="amortizacion"
                            formControlName="amortizacion" placeholder="Ingrese Amortizacion"
                            (change)="actualizarDeudaActualizada()">
                    </div>

                </div>
                <div class="col-md-2">

                    <div class="mb-3">
                        <b>Cantidad:</b>
                        <input type="number" class="form-control" [(ngModel)]="cantidadPV" formControlName="cantidadPV"
                            (change)="calcularTotal(); actualizarDeudaActualizada(); VALIDAD_STOCK()"
                            placeholder="Ingrese Cantidad">
                    </div>
                    <div class="mb-3">
                        <b>Observacion:</b>
                        <input type="text" class="form-control" [(ngModel)]="observacion" formControlName="observacion"
                            placeholder="Ingrese Observacion">
                    </div>

                </div>
                <div class="col-md-2">

                    <div class="mb-3">
                        <b>Stock Actual:</b>
                        <input type="text" class="form-control" [(ngModel)]="stockActual"
                            formControlName="stockActual" (change)="VALIDAD_STOCK()" placeholder="0">
                    </div>

                </div>
                <div class="col-md-2">

                    <div class="mb-3">
                        <b>Costo (S/.):</b>
                        <input type="text" class="form-control" [(ngModel)]="CostoCompra" formControlName="CostoCompra"
                            placeholder="0" disabled>
                    </div>

                </div>
            </div>
        </div>

        <div class="card-footer" style="padding: 0px;">
            <div class="row">
                <div class="col text-center" style="    padding: 0.6rem;"><button class="btn btn-primary" (click)="agregaProducto()">Agregar
                        Ventas</button></div>
                <!--  <div class="col text-center" style="    padding: 0.6rem;">
                     <button
                        class="btn btn-danger">Cancelar</button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="card">
        <p-table [value]="VentaDataTemporal" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
            [rowsPerPageOptions]="[5, 10, 20]" styleClass="p-datatable-striped" class="p-datatable-sm">
            <ng-template pTemplate="caption">

                <div class="text-center" style="color: white;">
                    Lista de productos
                </div>

            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center">Producto</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">U.M</th>
                    <th class="text-center">Precio</th>
                    <th class="text-center">Total</th>
                    <th class="text-center">Amortizacion</th>
                    <th class="text-center">Deuda Actua</th>
                    <th class="text-center">Observacion</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td>{{ row.productName }}</td>
                    <td>{{ row.cantidadVenta }}</td>
                    <td>{{ row.unidadMedidad }}</td>
                    <td>{{ row.precioRealVenta }}</td>
                    <td>{{ row.precioIngresadoVenta }}</td>
                    <td>{{ row.amortizacion }}</td>
                    <td>{{ row.deudaActualizada }}</td>
                    <td>{{ row.observacion }}</td>
                    <td>{{ row.pesoVenta }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>


<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'"
        [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'" position="bottom-right"
        key="Notificacion" />