.cd-popup-container .cd-buttons li button {
  background: #489EE7;
  text-transform: uppercase;
  font-size: 15px;
  padding:0;
  margin:0;
  font-family: inherit;
}

#modal-gasto-editar .input-group {
  margin: 10px 10px;
}
