<div class="container">
  <h3 class="title">Mantenedores</h3>
  <div class="cuadros-group">
    <!--<div class="cuadros">
      <img src="">
      <p>Categorias</p><br />
      <a class="menu-button" routerLink="/menu/mantenedores/categoria">Entrar</a>
    </div>-->
    <div class="cuadros">
      <img src="">
      <p>Clientes</p><br />
      <a class="menu-button" routerLink="/menu/mantenedores/cliente">Entrar</a>
    </div>
    <div class="cuadros">
      <img src="">
      <p>Productos</p><br />
      <a class="menu-button" routerLink="/menu/mantenedores/producto">Entrar</a>
    </div>
    <div class="cuadros">
      <img src="">
      <p>Usuarios</p><br />
      <a class="menu-button" routerLink="/menu/mantenedores/usuario">Entrar</a>
    </div>
  </div>
</div>
