/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system JUGA
@import "./assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos - JUGA*/
/* @import "./assets/demo/styles/flags/flags.css";
@import "./assets/demo/styles/badges.scss";
@import "./assets/demo/styles/code.scss";
 */

.p-breadcrumb {
    overflow-x: auto;
    padding-top: 20px;
    background: white;
    padding-bottom: 6px;
    /* align-items: end; */
}
.card {
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: 12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    //color: white;
   // text-align-last: center;

}

.card-title {
    margin-bottom: var(--bs-card-title-spacer-y);
    color: var(--bs-card-title-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5px;
    background: darkslategrey;
}

/*    div > span {
   text-align: center !important;
   padding-top: 50px;
} */

.card-footer {

    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
    background: darkslategrey;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 5px;
}

.p-datatable .p-datatable-thead > tr > th {
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid #dfe7ef;
    border-width: 0 0 1px 0;
    font-weight: 700;
    color: #708da9;
    background: #eff3f8;
    transition: box-shadow 0.2s;
    background: darkslategrey;
    color: white;
    padding: 0px;
}

.p-datatable .p-datatable-header {
    background: #eff3f8;
    color: #708da9;
    border: 1px solid #dfe7ef;
    border-width: 1px 0 1px 0;
    padding: 1rem 1rem;
    font-weight: 700;
    background: darkslategrey;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.p-paginator {
    background: #ffffff;
    color: #708da9;
    border: solid #f6f9fc;
    border-width: 0;
    padding: 0rem;
    border-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: darkslategrey;
}


.p-datatable>.p-datatable-wrapper {
    overflow: auto;
    border: 1px solid darkgreen;
}
.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
    background: #edf6f6;
}


.p-dropdown {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    /* height: 60%; */
    height: 33px;
    width: 100%;
}


.p-dropdown .p-dropdown-label.p-placeholder {
    color: #708da9;
    padding-top: 5px;
}

//centrar select de primeng
ol, ul {
    padding-left: 0rem;
}


.p-dropdown-label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
    width: 1%;
    text-overflow: ellipsis;
    cursor: pointer;
    padding-top: 5px;
}

.p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
    padding-right: 1.75rem;
    margin-right: -1.75rem;
    height: 30px;
}
.p-message .p-message-wrapper {
    padding: 0.8rem;
    color: black;
    font-weight: bold;
}










.loader {
    width: 80px;
    height: 50px;
    position: relative;
  }
  
  .loader-text {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    color: #C8B6FF;
    animation: text_713 3.5s ease both infinite;
    font-size: .8rem;
    letter-spacing: 1px;
  }
  
  .load {
    background-color: #9A79FF;
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 16px;
    bottom: 0;
    position: absolute;
    transform: translateX(64px);
    animation: loading_713 3.5s ease both infinite;
  }
  
  .load::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #D1C2FF;
    border-radius: inherit;
    animation: loading2_713 3.5s ease both infinite;
  }
  
  @keyframes text_713 {
    0% {
      letter-spacing: 1px;
      transform: translateX(0px);
    }
  
    40% {
      letter-spacing: 2px;
      transform: translateX(26px);
    }
  
    80% {
      letter-spacing: 1px;
      transform: translateX(32px);
    }
  
    90% {
      letter-spacing: 2px;
      transform: translateX(0px);
    }
  
    100% {
      letter-spacing: 1px;
      transform: translateX(0px);
    }
  }
  
  @keyframes loading_713 {
    0% {
      width: 16px;
      transform: translateX(0px);
    }
  
    40% {
      width: 100%;
      transform: translateX(0px);
    }
  
    80% {
      width: 16px;
      transform: translateX(64px);
    }
  
    90% {
      width: 100%;
      transform: translateX(0px);
    }
  
    100% {
      width: 16px;
      transform: translateX(0px);
    }
  }
  
  @keyframes loading2_713 {
    0% {
      transform: translateX(0px);
      width: 16px;
    }
  
    40% {
      transform: translateX(0%);
      width: 80%;
    }
  
    80% {
      width: 100%;
      transform: translateX(0px);
    }
  
    90% {
      width: 80%;
      transform: translateX(15px);
    }
  
    100% {
      transform: translateX(0px);
      width: 16px;
    }
  }