<p-breadcrumb class="max-w-full" [model]="items" [home]="home" />



<div class="row">
    <div class="col-sm-6 col-lg-3" *ngFor="let row of SectorData" style="padding: 10px;">

        <div class="card" style="padding: 0px; ">
            <div class="card-title" style="background: darkslateblue">
                <span class="text-center"> {{row.sectorName}}</span>
            </div>
            <div class="card-body">
                <h6> <b>
                        <p class="card-text text-danger text-center">{{row.deuda[0].deudaTotal | currency:"S/":2}}</p>
                    </b>
                </h6>
            </div>
            <div class="card-footer" routerLink="/Ventas/SectorCliente/{{row.sectorId}}" style="cursor: pointer;">
                Ingresar
            </div>
        </div>
    </div>

</div>