<p-breadcrumb class="max-w-full" [model]="items">
    <ng-template pTemplate="item" let-item>
        <ng-container *ngIf="item.route; else elseBlock">
            <a [routerLink]="item.route" class="p-menuitem-link">
                <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
                <span class="text-primary font-semibold">{{ item.label }}</span>
            </a>
        </ng-container>
        <ng-template #elseBlock>
            <a [href]="item.url">
                <span class="text-color">{{ item.label }}</span>
            </a>
        </ng-template>
    </ng-template>
</p-breadcrumb>

<div class="row">
    <div class="col-sm-6 col-lg-3" *ngFor="let row of SectorData" style="padding: 10px;">
        <div class="card" style="padding: 0px; ">
            <div class="card-title text-center" style="background: darkslategrey; color: white;">

                <span class="text-center"> {{row.sectorName}}</span>
            </div>
            <div class="card-body">
                <h6> <b>
                        <p class="card-text text-danger text-center">{{row.deuda | number :'1.2-2'}}</p>
                    </b>
                </h6>
            </div>
            <div class="card-footer text-center" (click)="GoListaClienteBySector(row)" style="cursor: pointer;color: white;">
                Ingresar
            </div>
        </div>
    </div>

   <p-dialog  [closable]="false" [modal]="true" [(visible)]="Loading" [style]="{ width: '25rem' }">
        <div class="loader" style="width: 100%;">
            <span class="loader-text">Cargando Informacion ... Espere porfavor</span>
              <span class="load"></span>
          </div>
    </p-dialog>
</div>
