<p-breadcrumb class="max-w-full" [model]="items">
    <ng-template pTemplate="item" let-item>
        <ng-container *ngIf="item.route; else elseBlock">
            <a [routerLink]="item.route" class="p-menuitem-link">
                <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
                <span class="text-primary font-semibold">{{ item.label }}</span>
            </a>
        </ng-container>
        <ng-template #elseBlock>
            <a [href]="item.url">
                <span class="text-color">{{ item.label }}</span>
            </a>
        </ng-template>
    </ng-template>
</p-breadcrumb>

<div style="padding-top: 5px;">
    <div class="card">
        <span class="text-center"><b>
                <span><b>Detalle de Compra Seleccionada para Verificar</b></span>
            </b></span>
        <hr>

        <div class="grid" style="padding-top: 10px;">
            <div class="col-12 lg:col-6 xl:col-2">
                <span><b>Fecha de Compra:</b></span>
                <input type="text" class="form-control" [ngModel]="FechaCompra | date: 'yyyy-MM-dd'" disabled>
            </div>
            <div class="col-12 lg:col-6 xl:col-2">
                <span><b>Fecha de Entrega:</b></span>
                <input type="text" class="form-control" [ngModel]="FechaEntrega | date: 'yyyy-MM-dd'" disabled>
            </div>
            <div class="col-12 lg:col-6 xl:col-2">
                <span><b>Ciudad: </b></span>
                <input type="text" class="form-control" [(ngModel)]="Ciudad" disabled>
            </div>
            <div class="col-12 lg:col-6 xl:col-2">
                <span><b>Total de la Compra (S/):</b></span>
                <input type="text" class="form-control" [(ngModel)]="TotalCompra" disabled>
            </div>
            <div class="col-12 lg:col-6 xl:col-2">
                <span><b>Costo del Flete (S/):</b></span>
                <input type="text" class="form-control" [(ngModel)]="TotalFlete" disabled>
            </div>
        </div>
    </div>

    <div class="card text-center" style="padding: 0px;">
        <div class="row">

            <div class="col"><button class="btn btn-primary" (click)="ConfirmarCompras()">Confirmar Compra</button>
            </div>
        </div>
    </div>
    <div class="card">

        <p-table [value]="ComprasData" [paginator]="true" [rows]="20" [tableStyle]="{ 'min-width': '100rem' }"
            [rowsPerPageOptions]="[5, 10, 20]" styleClass="p-datatable-gridlines" class="p-datatable-sm"
            [selection]="true" [(selection)]="ComprasDetalleSelected">
            <ng-template pTemplate="caption" dataKey="detalleCompraId">
                <div class="text-center" style="color: white;">
                    Lista de compras a confirmar
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center" style="width: 3rem;">#</th>
                    <th class="text-center" style="width: 5rem;"><p-tableHeaderCheckbox /></th>
                    <th class="text-center" style="width: 30rem;">Proveedor</th>
                    <th class="text-center" style="width: 40rem;">Producto</th>
                    <th class="text-center" style="width: 20rem;">Cantidad</th>
                    <th class="text-center" style="width: 20rem;">U. M.</th>
                    <th class="text-center" style="width: 15rem;">Precio Uni</th>
                    <th class="text-center" style="width: 15rem;">Total</th>
                    <th class="text-center" style="width: 15rem;">Amort.</th>
                    <th class="text-center" style="width: 15rem;">Saldo</th>
                    <th class="text-center" style="width: 15rem;">Flet. Unit.</th>
                    <th class="text-center" style="width: 30rem;">Documento </th>
                    <th class="text-center" style="width: 20rem;">Numero</th>
                    <th class="text-center" style="width: 5rem;"></th>

                    <th class="text-center" style="width: 5rem;"></th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                <tr>
                    <td class="text-center" style="border-right: 1px solid #71c7c7;border-bottom: 1px solid #71c7c7;">
                        <b>{{rowIndex + 1}}</b>
                    </td>
                    <td class="text-center" style="border-right: 1px solid #71c7c7;border-bottom: 1px solid #71c7c7;">
                        <p-tableCheckbox [value]="row" *ngIf="row.compraEstado == 2" />
                    </td>
                    <td class="text-center" style="border-right: 1px solid #71c7c7;border-bottom: 1px solid #71c7c7;">
                        {{row.ProveedorName}}</td>
                    <td class="text-center" style="border-right: 1px solid #71c7c7;border-bottom: 1px solid #71c7c7;">
                        {{row.ProductName}}</td>
                    <td class="text-center" style="border-right: 1px solid #71c7c7;border-bottom: 1px solid #71c7c7;">
                        {{row.cantidadCompra}}</td>
                    <td class="text-center" style="border-right: 1px solid #71c7c7;border-bottom: 1px solid #71c7c7;">
                        {{row.unidadMedida}}</td>
                    <td class="text-center" style="border-right: 1px solid #71c7c7;border-bottom: 1px solid #71c7c7;">
                        {{row.precioUnitario | number:'1.2-2'}}</td>
                    <td class="text-center" style="border-right: 1px solid #71c7c7;border-bottom: 1px solid #71c7c7;">
                        {{row.precioCompra | number:'1.2-2'}}</td>
                    <td class="text-center" style="border-right: 1px solid #71c7c7;border-bottom: 1px solid #71c7c7;">
                        {{row.totalDeposito | number:'1.2-2'}}</td>
                    <td class="text-center" style="border-right: 1px solid #71c7c7;border-bottom: 1px solid #71c7c7;">
                        {{row.saldoDeposito | number:'1.2-2'}}</td>
                    <td class="text-center" style="border-right: 1px solid #71c7c7;border-bottom: 1px solid #71c7c7;">
                        {{row.costoFleteItemCompra | number:'1.2-2'}}</td>
                    <td class="text-center" style="border-right: 1px solid #71c7c7;border-bottom: 1px solid #71c7c7;">
                        {{row.documentoCompra }}</td>
                    <td class="text-center" style="border-right: 1px solid #71c7c7;border-bottom: 1px solid #71c7c7;">
                        {{row.numeroDocumento }}</td>
                    <td class="text-center">
                        <button pButton icon="pi pi-pencil"
                            style="border-radius: 50%;width: 30px;height: 30px;background: blue;"
                            (click)="SelectedComopra(row)" pTooltip="Editar Compra"></button>
                    </td>
                    <td class="text-center">
                        <button pButton icon="pi pi-trash"
                            style="border-radius: 50%;width: 30px;height: 30px;background: red;"
                            pTooltip="Eliminar Compra"></button>
                    </td>
            </ng-template>
        </p-table>
    </div>

</div>

<p-dialog [closable]="false" header="Actualizando Compra" [modal]="true" [(visible)]="EditarCompraModal"
    [style]="{ width: '70rem' }">

    <form [formGroup]="_FormGroup" style="padding-top: 20px;">
        <div class="grid">
            <!--  <div class="col-12 lg:col-6 xl:col-3">
            <b>Fecha Venta:</b>
            <input type="datetime-local" [(ngModel)]="FechaVenta" formControlName="FechaVenta" class="form-control">
        </div> -->

            <div class="col-12 lg:col-6 xl:col-4">
                <label><b>Fecha de Compra :</b></label>
                <input type="date" value="{{ FechaCompra | date: 'yyyy-MM-dd' }}" class="form-control"
                    formControlName="FechaCompra" name="FechaCompra">
            </div>

            <div class="col-12 lg:col-6 xl:col-4">
                <label><b>Fecha de Entrega :</b></label>
                <input type="date" value="{{ FechaEntrega | date: 'yyyy-MM-dd' }}" class="form-control"
                    formControlName="FechaEntrega" name="FechaEntrega">
            </div>

            <div class="col-12 lg:col-6 xl:col-4">
                <label><b>Cuidad de la compra :</b></label>
                <p-dropdown [options]="CiudadData" optionLabel="ciudadName" [(ngModel)]="CiudadSelected"
                    formControlName="CiudadSelected" placeholder="Seleccione Cuidad" />
            </div>



            <div class="col-12 lg:col-6 xl:col-3">
                <label>Proveedor :</label>
                <p-dropdown [options]="ProveedorData" [filter]="true" filterBy="proveedorName"
                    formControlName="ProveedorSelected" optionLabel="proveedorName" [showClear]="true"
                    [(ngModel)]="ProveedorSelected" placeholder="Seleccione Porveedor" />
            </div>
            <div class="col-12 lg:col-6 xl:col-3">
                <label>Producto :</label>
                <p-dropdown [options]="ProductoData" [filter]="true" filterBy="productName"
                    [(ngModel)]="ProductoSelected" formControlName="ProductoSelected" optionLabel="productName"
                    [showClear]="true" placeholder="Seleccione Producto" />
            </div>
            <div class="col-12 lg:col-6 xl:col-3">
                <label>Flete Unitario :</label>
                <input type="number" class="form-control" [(ngModel)]="FleteUnitario" placeholder="0"
                    formControlName="FleteUnitario">
            </div>
            <div class="col-12 lg:col-6 xl:col-3">
                <label>Unidad Medida :</label>
                <p-dropdown [options]="UnidadMedidaData" [filter]="true" filterBy="unidadBase"
                    [(ngModel)]="UnidadMedidaSelected" optionLabel="unidadBase" [showClear]="true"
                    formControlName="UnidadMedidaSelected" placeholder="Selecione unidad Medida" />
            </div>
            <div class="col-12 lg:col-6 xl:col-3">
                <label>Cantidad :</label>
                <input type="number" [(ngModel)]="CantidadCompra" class="form-control" placeholder="0"
                    formControlName="CantidadCompra" (change)="calcular()">
            </div>
            <div class="col-12 lg:col-6 xl:col-3">
                <label>Precio Unitario :</label>
                <input type="number" [(ngModel)]="PrecioUnitario" class="form-control" placeholder="0"
                    formControlName="PrecioUnitario" (change)="calcular()">
            </div>
            <div class="col-12 lg:col-6 xl:col-3">
                <label>Total :</label>
                <input type="number" class="form-control" [(ngModel)]="CostoTotalCompra" placeholder="0"
                    formControlName="CostoTotalCompra" (change)="calcular()">
            </div>

            <div class="col-12 lg:col-6 xl:col-3">
                <label>Amortizacion :</label>
                <input type="number" class="form-control" [(ngModel)]="Amortizacion" placeholder="0"
                    formControlName="Amortizacion">
            </div>
            <div class="col-12 lg:col-6 xl:col-3">
                <label>Saldo :</label>
                <input type="number" class="form-control" [(ngModel)]="Saldo" formControlName="Saldo" placeholder="0">
            </div>
            <div class="col-12 lg:col-6 xl:col-3">
                <label>Documento Compra:</label>
                <p-dropdown [options]="DocumentoCompra" [filter]="true" filterBy="label"
                    [(ngModel)]="DocumentoCompraSelected" formControlName="DocumentoCompraSelected" optionLabel="label"
                    [showClear]="true" placeholder="Seleccione documento" />
            </div>
            <div class="col-12 lg:col-6 xl:col-3">
                <label>Numero Documento :</label>
                <input type="text" [(ngModel)]="NumeroDocumento" [(ngModel)]="NumeroDocumento"
                    formControlName="NumeroDocumento" class="form-control">
            </div>
            <div class="col-12 lg:col-6 xl:col-3">

            </div>


            <div class="col-12 lg:col-6 xl:col-6" style="padding-top: 35px;">
                <button class="btn btn-primary" style="width: 100%;" (click)="UpdateCompra()">Actualizar Compra</button>
            </div>


            <div class="col-12 lg:col-6 xl:col-6" style="padding-top: 35px;">
                <button class="btn btn-danger" style="width: 100%;" (click)="EditarCompraModal=false">Cancelar</button>
            </div>
        </div>
    </form>
</p-dialog>


<p-toast position="bottom-center" key="Notificacion" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column align-items-start" style="flex: 1">
            <div class="flex align-items-center gap-2">
                <span class="font-bold text-900">
                    {{ message.summary }}
                </span>
            </div>
            <div class="font-medium text-lg my-3 text-900">
                {{ message.detail }}
            </div>
        </div>
    </ng-template>
</p-toast>